SetEnv APPLICATION_ENV production

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ /api/index.php [NC,L]

php_flag session.auto_start off
php_value arg_separator.input "&"
php_value session.cookie_lifetime 0

php_value display_startup_errors 1
php_value display_errors 1
