<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>MailCleaner &ndash; __LANG_CONFIGURATIONMENU__</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="Author" content="Olivier Diserens" />
  <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
__INCLUDE__(config_meta.tmpl)
    
<!--[if gt IE 5]>
<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" />
<![endif]-->

 </head>
<body>

<div id="container">

__INCLUDE__(header.tmpl)
<div id="pagecontent">
<div id="generalconfigpanel">
__INCLUDE__(config_menu.tmpl)

 <div id="generalconfigcontent">
 <h3>__LANG_CONFIGQUARSHORTHELP__</h3>
  <div class="configpanel" id="quarparampanel">
__BEGIN_QUAR_FORM__
 <!--  <p class="message">__MESSAGE__</p>  --> 
   <fieldset id="fieldquarparams">

<table class="ftable">
 <tr><td colspan="2" class="fmessage">__MESSAGE__</td></tr>
 <tr>
  <td class="flabel">__LANG_DEFAULTADDRESDISPPLAYED__:</td><td class="fvalue">__INPUT_SELECTADDRESSES__</td>
 </tr>
 <tr><td colspan="2"><hr /></td></tr>
 <tr>
  <td class="flabel">__LANG_QUARNBLINESDISPLAYED__:</td><td class="fvalue">__INPUT_SELECTQUARSPAMDISPLAYED__</td>
 </tr>
 <tr>
  <td class="flabel">__LANG_QUARNBDAYSDISAPLYED__:</td><td class="fvalue">__INPUT_INPUTQUARNBDAYS__</td>
 </tr>
 <tr><td colspan="2"><hr /></td></tr>
 <tr>
  <td class="flabel">__LANG_MASKEALREADYFORCED__</td><td class="fvalue">__INPUT_CHECKBOXMASKFORCED__</td>
 </tr>
</table>
  
   </fieldset>
<fieldset id="fieldsubmit">
__SAVE_BUTTON__
</fieldset>
__END_QUAR_FORM__
  </div>
 </div>
</div>
</div>
__INCLUDE__(footer.tmpl)

</div>
</body>
</html>
