  <link rel="shortcut icon" type="image/x-icon" href="__TEMPLATE_PATH__/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/navigation.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/config.css" media="screen" />
  <script src="scripts/config.js" type="text/javascript" charset="utf-8"></script>
  <style type="text/css" media="screen">
    #configbutton:visited , #configbutton:link {
     color: #FF1500;
     background-image: url("images/headerbuttonON.png") !important;
    }
    #generalconfigmenu li#list___THISTOPIC__ {
       background-image:url(images/selected_bg.png);
       font-weight: bold;
    }
    #generalconfigmenu li#list___THISTOPIC__ a {
      color: #000000;
    }
    </style>