<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>MailCleaner &ndash; __LANG_MESSAGEFORCING__</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="Author" content="Olivier Diserens" />
  <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
  <link rel="shortcut icon" type="image/x-icon" href="__TEMPLATE_PATH__/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/popup.css" media="screen" />
  <script src="scripts/popup.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    function parentLoadSearch() {
      if (!opener) {
        return true;
      }
      var searchform = opener.document.getElementById('filter');
      if (searchform) {
        searchform.submit();
      }
      return true;
    }
  </script>
  </head>
<body onload="javascript:parentLoadSearch();">

<div id="container">
<form  id="input" method="post" action="">
 <div id="popupheader">
  <img src="images/release.png" alt="" /> <p>__LANG_FORCEMESSAGE__</p>
 </div>
 
 <div id="text">
  <p>__MESSAGE__</p>  
 </div>

 <div id="buttons">
   <input type="button" class="button" id="close" onclick="javascript:closeMe();" value="__LANG_CLOSE__" />
 </div>
</form>
</div>
</body>
</html>