<div id="pagefoot">
<div id="legalpanel">
 <p id="copyright">&copy; <a href="https://www.mailcleaner.net/" target="_blank">www.mailcleaner.net</a></p>
 <!-- Resellers: Place here your copyright --><p id="company"></p>
</div>
</div>
