h1 {
    font-family: Verdana, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    word-spacing: normal;
    color: #333333;

    padding: 3px;
}

h2 {
    font-family: Verdana, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    word-spacing: normal;
    color: #333333;

    padding: 3px;
}

td {
    font-family: Verdana, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 11px;
    text-decoration: none;
    word-spacing: normal;
    color: #000000;
}

    //text-indent: 1em;
 
