#generalconfigcontent h1 {
    font-size: 14px;
    text-decoration: none;
    color: #77006a;
}

#generalconfigcontent h2 {
    font-size: 16px;
    text-decoration: none;
    color: #ff6000;
    margin-top: 30px;
    border-bottom: 1px solid #ff6000;
}

#generalconfigcontent h3 {
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#generalconfigcontent h4 {
    font-size: 14px;
    text-decoration: none;
    color: #77006a;
    margin-top: 30px;
    display: block;
}

#generalconfigcontent h6 {
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    font-weight: normal;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#generalconfigcontent p {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 10px;
}

#generalconfigcontent ul {
    font-size: 13px;
}

#generalconfigcontent a {
    font-size: 12px;
}

.download {
    margin-top: -2px!important;
    margin-left: 20px!important;
}

.note {
    border: 1px solid #a4a4a4;
    background-color: #f3f3f3;
    padding: 10px !important;
}

.important {
    border: 1px solid #a4a4a4;
    background-color: #ffbe87;
    padding: 10px !important;
}
