html, body {
   margin: 0;
   padding: 0;
   border: 0;
   font-family:  Arial;
   font-weight: normal;
   font-size: 11px;
   background-color: #DDD6DD;
}

a {
  color: #001391;
  text-decoration: underline;
}
a:hover {
  color: #001391;
  text-decoration: underline;
}

img {
  border: 0px;
}

select {
 font-size: 11px;
}

form {
  margin: 0px !important;
  padding: 0px !important;
}
input {
  font-size: 11px;
}

/** main divs **/

#container {
   position:relative;
   margin:0 auto;
   height:auto !important;
   height: 100%;
   min-height: 100%;
   width: 100%;
   min-width: 955px;
}

#pagehead {
    overflow: auto;
}

#pagecontent {
  padding-bottom: 30px;
  overflow: auto;
}

#pagefoot {
  position: fixed;
  bottom: 0px;
  height: 24px;
  width: 100%;
  overflow: hidden;
  background-color: #DDD6DD;
}


/* legal panel */
#legalpanel {
   border-top: 1px solid #CBC1C8;
   color: #552056;
   width: 100%;
   line-height: 22px;
}
#legalpanel p {
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
   line-height: 22px;
}

#copyright {
  float: left;
  color: #A589A5;
  font-size: 11px;
  display: inline;
  line-height: 23px;
}

#company {
  display: inline;
  float:right;
  font-size: 9px;
  color: #AA2056;
  line-height: 23px;
}

#company img {
  border: 0px;
  margin-right: 1px;
  margin-top: 8px;
  vertical-align: baseline;
}

#generalconfigpanel {
  margin-top: 16px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  height: 100%;
  border: 1px solid #C6ADC6;
  background: #FFFFFF;
  overflow: auto;
}

.contentheadicon {
  float: left;
  margin: 0px;
  padding: 0px;
  height: 48px;
  line-height: 48px;
  width: 184px;
  background-image:url(../images/contentheader_bg.png);
  border-bottom: 1px solid #C6ADC6;
  border-right: 1px solid #C6ADC6;
  overflow: hidden;
  white-space: nowrap;
}
.contentheadicon img {
  margin-left: 13px;
  display: inline;
  border: 0px;
  vertical-align: middle;
}
.contentheadtitle {
  margin: 0px;
  padding: 0px;
  padding-left: 54px;
  height: 48px;
  line-height: 52px;
  background-image:url(../images/contentheader_bg.png);
  border-bottom: 1px solid #C6ADC6;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  color: #552056;
  font-size: 13px;
}

#generalconfigmenu {
  float: left;
  list-style:none;
  margin: 0px;
  padding: 0px;
  margin-top: 54px;
  width: 184px;
  border-top: 1px solid #C6ADC6;
  line-height: 18px;
  overflow: hidden;
  font-size: 12px;
}

#generalconfigmenu li {
  margin: 0px;
  padding: 0px;
  border-bottom:1px solid #C6ADC6;
  line-height: 24px;
  padding-left: 13px;
}

#generalconfigmenu li a {
  color: #666666;
  text-decoration: none;
}
#generalconfigmenu li:hover {
  cursor: pointer;
  background-image:url(../images/menuover_bg.png);
}

#generalconfigcontent {
  float: left;
  padding: 0px;
  margin: 0px;
  min-height: 450px;
  margin-top: 54px;
  padding-bottom: 20px;
  padding-left: 54px;
  font-size: 12px;
  color: #666666;
  overflow: visible;
  white-space: normal;
  max-width: 628px;
  border-left: 1px solid #C6ADC6;;
}

#generalconfigcontent h1,h2 {
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0px;
}

#generalconfigcontent h2 {
  text-decoration: none;
}
#generalconfigcontent h4 {
  display: inline;
  font-weight: bold;
  text-decoration: none;
}

#generalconfigcontent p {
  margin: 0px;
  margin-top: 2px;
  text-align: left;
  padding: 0px;
  line-height: 16px;
}

#generalconfigcontent li {
  margin-top: 10px;
}

#generalconfigcontent img {
  border: 0px;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}

.actionslist {
  margin-top: 0px !important;
}

.actions {
  line-height: 16px;
  margin-top: 5px !important;
}

/* tooltip */
#tooltip {
  position: absolute;
  visibility:hidden;
  padding-left:6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #F3E675;
  border:1px solid #CDC04B;
  z-index: 10;
}
