/* "commercial" header */
#mainheader {
    width: 100%;
    height: 75px;
    margin: 0px;
    background-image:url("../images/header_bg.png");
    background-repeat: repeat-x;
    color: white; 
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    overflow: auto;
}

/* navigation bar */
#navigation {
    width: 100%;
    height: 33px;
    min-height: 33px;
    margin: 0;
    padding: 0;
    line-height: 33px;
    background-image:url(../images/subheader_bg.png); 
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-indent: 0.5em; 
    text-align: center;
    white-space: nowrap;
    overflow: auto;
}

#mclogo {
    float: left;
}
#mcheadpicture {
    float: right;
}

/* navigation menu */
#buttonmenu {
    text-align: center;
    list-style: none; 
    margin: 0; 
    padding: 0;
}

#buttonmenu li {
    display: inline;
}

#buttonmenu li .menubutton {
    display: inline;
    float: left;
    background-image: url("../images/headerbuttonOFF.png");
    width: 100px;
    line-height: 33px;
    text-align: center;
    display: inline;
}
#buttonmenu li .menuselected {
    display: inline;
    float: left;
    background-image: url("../images/headerbuttonON.png");
    width: 100px;
    line-height: 33px;
    text-align: center;
    display: inline;
}

#navigation a {
    color: white;
    text-decoration: none;
}
#navigation a:hover {
    color: #FF1500;
    text-decoration: none;
}

/* username informational field */
#username {
    display: inline;
    margin: 0px;
    margin-right: 20px;
    padding: 0px;
    float: right;
    line-height: 33px;
    color: #FFFFFF;
}

/* logout button */
#logoutbutton {
    float: right;
    width: 100px;
    height: 33px;
    background-image:url(../images/headerbuttonOFFright.png);
}
