<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>MailCleaner &ndash; __LANG_ADDRULE__</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="Author" content="Olivier Diserens" />
  <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
  <link rel="shortcut icon" type="image/x-icon" href="__TEMPLATE_PATH__/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/navigation.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/popup.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/unlogged.css" media="screen" />
  <script src="scripts/popup.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body onload="disableCloseWithoutReferrer();">

<div id="container">

<!-- HEADER -->
<div id="pagehead">
 <div id="mainheader">
  <img id="mclogo" src="images/logo_name.png" alt="MailCleaner, antispam and antivirus" />
  <img id="mcheadpicture" src="images/banner_letters.png" alt="http://www.mailcleaner.net" />
 </div>

</div>

<div id="unloggedmessagebox">
 <div id="popupheader">
  <img src="images/release.png" alt="" /> <p>__HEAD__</p>
 </div>
<div id="text">
  <p>__MESSAGE__</p>

 </div>

 <div id="buttons">
   <input type="button" class="button" id="close" onclick="javascript:closeMe();" value="__LANG_CLOSE__" />
 </div>
</div>

</div>
</body>
</html>
