<!DOCTYPE html>
<html>

<head>
    <title>MailCleaner &ndash; __LANG_CONFIGURATIONMENU__</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="Author" content="Olivier Diserens" />
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
    __INCLUDE__(config_meta.tmpl)
</head>

<body>

    <div id="container">

        __INCLUDE__(header.tmpl)
        <div id="pagecontent">
            <div id="generalconfigpanel">
                __INCLUDE__(config_menu.tmpl)

                <div id="generalconfigcontent">
                    <h3>__LANG_CONFIGQUARSHORTHELP__</h3>
                    <div class="configpanel" id="quarparampanel">
                        __BEGIN_QUAR_FORM__
                        <!--  <p class="message">__MESSAGE__</p>  -->
                        <fieldset id="fieldquarparams">

                            <table class="ftable">
                                <tr>
                                    <td colspan="2" class="fmessage">__MESSAGE__</td>
                                </tr>
                                <tr>
                                    <td class="flabel">__LANG_DEFAULTADDRESDISPPLAYED__:</td>
                                    <td class="fvalue">__INPUT_SELECTADDRESSES__</td>
                                </tr>
                                <tr>
                                    <td class="flabel"></td>
                                    <td class="fvalue">__INPUT_GROUPQUARANTINES__ __LANG_GROUPQUARANTINES__</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="flabel">__LANG_QUARNBLINESDISPLAYED__:</td>
                                    <td class="fvalue">__INPUT_SELECTQUARSPAMDISPLAYED__</td>
                                </tr>
                                <tr>
                                    <td class="flabel">__LANG_QUARNBDAYSDISAPLYED__:</td>
                                    <td class="fvalue">__INPUT_INPUTQUARNBDAYS__</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="flabel">__LANG_MASKEALREADYFORCED__</td>
                                    <td class="fvalue">__INPUT_CHECKBOXMASKFORCED__</td>
                                </tr>
                            </table>

                        </fieldset>
                        <fieldset id="fieldsubmit">
                            __SAVE_BUTTON__
                        </fieldset>
                        __END_QUAR_FORM__
                    </div>
                </div>
            </div>
        </div>
        <div id="pagefoot">
            <div id="legalpanel">
                <p id="copyright"><a href="https://__COPYRIGHTLINK__" target="_blank">__COPYRIGHTTEXT__</a></p>
                __INCLUDE__(company.tmpl)
            </div>
        </div>

    </div>
</body>

</html>
