<p class="contentheadicon"><img src="images/config_icon.png" alt="" />&nbsp;</p>
 <p class="contentheadtitle">__LANG_CONFIGURATION__: __TOPIC_TITLE__</p>

__TMPL_MENUITEM_START__
<li id="list___TOPIC__" onclick="javascript:goConf('__TOPIC__');"><a href="configuration.php?t=__TOPIC__">__TOPIC_TEXT__</a></li>
__TMPL_MENUITEM_STOP__
   
 <ul id="generalconfigmenu">
 __MENULIST__
 </ul>
