<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>MailCleaner &ndash; __LANG_CONFIGURATIONMENU__</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="Author" content="Olivier Diserens" />
  <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
__INCLUDE__(config_meta.tmpl)
    
<!--[if gt IE 5]>
<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" />
<![endif]-->

 </head>
<body onload="javascript:enableSpamTag(__DELIVERYTYPE__); changeOtherSummaryToField();">

<div id="container">

__INCLUDE__(header.tmpl)
<div id="pagecontent">
<div id="generalconfigpanel">
__INCLUDE__(config_menu.tmpl)

  <div id="generalconfigcontent">
  <h3>__LANG_ADDPARAMSHORTHELP__</h3>
__BEGIN_PARAM_FORM__
  <div id="addressconfigpanel" class="configpanel">
    <h1>__LANG_ADDRESS__: __ADDRESSSELECT__</h1>
    <fieldset id="action">
    <p class="message">__MESSAGE__</p>
      <p>__LANG_FOREACHSPAMDO__</p>
      <ul id="actionlist">
        <li>__INPUT_RADIOQUARANTINE__ __LANG_KEEPMESSAGEINQUARANTINE__</li>
        <li>__INPUT_RADIOTAG__ __LANG_TAGMESSAGEWITHTAG__: __INPUT_TAG__</li>
        <li>__INPUT_RADIODROP__ __LANG_DROPMESSAGE__</li>
      </ul>
    </fieldset>
    <fieldset id="quarbounce">
      __INPUT_CHECKBOXBQUARBOUNCES__ __LANG_KEEPBOUNCESINQUARANTINE__
    </fieldset>
    <fieldset id="newsletter">
      <p>__LANG_FOREACHNEWSLETTERDO__</p>
      <ul id="actionnewsletters"
        <li>__INPUT_RADIONEWSLETTER_QUARANTINE__ __LANG_KEEPMESSAGEINQUARANTINE__</li>
        <li>__INPUT_RADIONEWSLETTER_ALLOW__ __LANG_NEWSLETTERSALLOW__</li>
      </ul>
    </fieldset>    
    <fieldset id="fieldsummary">
      <p>__LANG_SUMMARYSENTFREQ__: __INPUT_SELECTSUMMARYFREQ__</p>
      <p>__LANG_SUMMARYFORMAT__: __INPUT_SELECTSUMMARYFORMAT__</p>
      <p>__LANG_SUMMARYTO__: __INPUT_SELECTSUMMARYTO__</p>
      <p id="summary_to_other">__LANG_ADDRESS__: __INPUT_SUMMARYTO__</p>
    </fieldset>
    <fieldset id="fieldapplytoall">
    __INPUT_CHECKBOXAPPLYTOALL__ __LANG_APPLYTOALLADDRESSES__<br />
    </fieldset>
    <fieldset id="fieldsubmit">
    __INPUT_SUBMIT__
    </fieldset>
  </div>
__END_PARAM_FORM__
 </div>
</div>
</div>
__INCLUDE__(footer.tmpl)

</div>
</body>
</html>
