<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>MailCleaner &ndash; __LANG_CONFIGURATIONMENU__</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="Author" content="Olivier Diserens" />
  <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
__INCLUDE__(config_meta.tmpl)
    
<!--[if gt IE 5]>
<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" />
<![endif]-->

 </head>
<body onload="javascript:resizePanel('addresslist', new Array('addentrypanel', 'rementrypanel'));">
<div id="container">

__INCLUDE__(header.tmpl)
<div id="pagecontent">
<div id="generalconfigpanel">
__INCLUDE__(config_menu.tmpl)

 <div id="generalconfigcontent">
  <h3>__LANG_WHITELISTSHORTHELP__</h3>
<div class="addselectbox">
__BEGIN_SELECT_FORM__
__LANG_WHITELISTFORADDRESS__: __INPUT_SELECTADDRESS__
__END_SELECT_FORM__
</div>
  <div id="addentrypanel" class="configsubpanel">
   <h1>__LANG_ADDAWHITEENTRY__</h1>
   
   <p class="message">__MESSAGE__</p>
   <p>__LANG_WHITELISTENTRYTOADD__</p>
__BEGIN_ADD_FORM__

<table>
 <tr>
  <td class="entryfieldlabel">__LANG_ADDRESS__:</td><td class="entryfieldinput">__INPUT_ADDADDRESS__</td>
 </tr>
 <tr>
  <td class="entryfieldlabel">__LANG_COMMENT__:</td><td class="entryfieldinput"><img src="images/attention.png" alt="" />__INPUT_ADDCOMMENT__</td>
 </tr>
</table> 
   <p>__INPUT_ADDSUBMIT__</p>
__END_ADD_FORM__
  </div>

__DEFAULT__ COMMENTICONACTIVE = images/attention.png
__DEFAULT__ COMMENTICONINACTIVE = images/attention_off.png

__TMPL_ENTRY_START__
    <li class="__ACTIVECLASS__">__INPUT_CHECKBOXENTRY____ENTRY__ 
      __IF_COMMENT__<p class="entrycomment"><img src="__COMMENTICON__" alt="" /> __COMMENT__</p>__FI_COMMENT__
    </li>
__TMPL_ENTRY_STOP__

__BEGIN_REM_FORM__
  <ul id="addresslist">
  __ENTRY_LIST__
  </ul>
    
  <div id="rementrypanel" class="configsubpanel">
   <h1>__LANG_REMOVEANENTRY__</h1>
   <p class="shorthelp">__LANG_REMOVEAWHITEENTRYSHORTHELP__</p>
   <p>__INPUT_DISABLESUBMIT__</p>
   <p>__INPUT_REMSUBMIT__</p>
   
   
  </div>
__END_REM_FORM__
 </div>
</div>
</div>
__INCLUDE__(footer.tmpl)

</div>
</body>
</html>
