<!-- HEADER -->
<div id="pagehead">

 <div id="mainheader">
  <img id="mclogo" src="images/logo_name.png" alt="MailCleaner, antispam and antivirus" />
  <img id="mcheadpicture" src="images/banner_letters.png" alt="http://www.mailcleaner.net" />
</div>

 <div id="navigation">
   <ul id="buttonmenu">
     <li id="mconfig"><a href="/configuration.php" id="configbutton" class="menubutton">__LANG_CONFIGURATIONMENU__</a></li>
     <li id="mhelp"><a href="/help.php" id="helpbutton" class="menubutton">__LANG_HELPMENU__</a></li>
     <li id="mquarantine"><a href="/quarantine.php" id="quarantinebutton" class="menubutton">__LANG_QUARANTINEMENU__</a></li>
     <li id="mstats"><a href="/stats.php" id="statsbutton" class="menubutton">__LANG_STATISTICSMENU__</a></li>
    </ul>

    <div id="logoutbutton"><a href="__LINK_LOGOUT__">__LANG_LOGOUT__</a></div>
    <p id="username">__PRINT_USERNAME__</p>
 </div>

</div>
<!-- END HEADER -->