<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>MailCleaner &ndash; __LANG_HELPMENU__</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="Author" content="Olivier Diserens" />
  <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
  <link rel="shortcut icon" type="image/x-icon" href="__TEMPLATE_PATH__/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/navigation.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/config.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/help.css" media="screen" />
  <script src="scripts/help.js" type="text/javascript" charset="utf-8"></script>
  <style type="text/css" media="screen">
    #helpbutton:visited , #helpbutton:link {
     color: #FFFFFF;
    }

    #helpbutton:link {
    color: #FFFFFF;
    background-color: #e93a00;
    }
    
    #generalconfigmenu li#list___THISTOPIC__ {
       font-weight: bold;
    }
    #generalconfigmenu li#list___THISTOPIC__ a {
      color: #000000;
    }
  </style>

<!--[if gt IE 5]>
<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" />
<![endif]-->

 </head>
<body>

__DEFAULT__ ICONINFO = <img src="images/info.png" alt="" />
__DEFAULT__ ICONANALYSE = <img src="images/analyse.png" alt="" />
__DEFAULT__ ICONFORCE = <img src="images/release.png" alt="" />
__DEFAULT__ ICONFORCED = <img src="images/released.png" alt="" />
__DEFAULT__ SCOREFILLED = <img src="images/dot_on.png" alt="" />
__DEFAULT__ SCOREEMPTY = <img src="images/dot_off.png" alt="" class="bullet_off" />

<div id="container">
__INCLUDE__(header.tmpl)

<div id="pagecontent">
<div id="generalconfigpanel">
 <p class="contentheadicon"><img src="images/help_icon.png" alt="" />&nbsp;</p>
 <p class="contentheadtitle">__LANG_HELP__: __HELP_TOPIC__</p>


__DEFAULT__ MENULIST = usermanual,faq,analyse,support,glossary,plugin
__DEFAULT__ MENUDEFAULT = usermanual

__TMPL_MENUITEM_START__
<li id="list___TOPIC__" onclick="javascript:goTopic('__TOPIC__');"><a href="help.php?t=__TOPIC__">__TOPIC_TEXT__</a></li>
__TMPL_MENUITEM_STOP__
   
 <ul id="generalconfigmenu">
 __MENULIST__
 </ul>
 
 <div id="generalconfigcontent">
__HELP_CONTENT__
 </div>
</div>
</div>
__INCLUDE__(footer.tmpl)

</div>
</body>
</html>
