<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>MailCleaner</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="Author" content="Olivier Diserens" />
  <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
  <meta name="robots" content="noindex" />
  <link rel="shortcut icon" type="image/x-icon" href="__TEMPLATE_PATH__/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/login.css" media="screen" />
  <script type="text/javascript" charset="utf-8">
    var popup_width = 500;
    var popup_height = 251;
    var lang = '__LANG__';

    function resetPassword(username) {
        window.open('reset_password.php?u='+username+'&lang='+lang, '', 'width='+popup_width+',height='+popup_height+',toolbar=0,resizable=1,scrollbars=0,status=0');
    }
  </script>
__IF__ DOMAINCHOOSER
  <style type="text/css" media="screen">
    #usernamefield {
      width: 208px;
    }
__IF__ BADCREDENTIALS
    .fieldinput {
      border: 1px solid #FF0000;
    }
__FI__ BADCREDENTIALS
  </style>
__FI__ DOMAINCHOOSER

<!--[if gt IE 5]>
<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" />
<![endif]-->

 </head>
<body  onload="document.forms['login'].username.focus();">

<div id="loginpanel">
 <img id="mclogo" src="images/login_header.png" alt="" />
 <p id="badlogin">__PRINT_STATUS__</p>
 __BEGIN_LOGIN_FORM__ 
 <table>
   <tr>
     <td class="tdfieldtitle">__LANG_USERNAME__:</td>
     <td class="tdfieldinput">__LOGIN_FIELD__
<!-- __IF__ DOMAINCHOOSER
        __DOMAIN_CHOOSER__
__FI__ DOMAINCHOOSER -->
     </td>
   </tr>
 
   <tr>
     <td class="tdfieldtitle">__LANG_PASSWORD__:</td>
     <td class="tdfieldinput">__PASSWORD_FIELD__</td>
   </tr>
 </table>
  <div class="fieldsubmit">__SUBMIT_BUTTON__</div>
__END_LOGIN_FORM__

<p id="reminder">
__IF__ LOCALAUTH
<a class="minilink" href="javascript:resetPassword('__USERNAME__')">__LANG_FORGOTPASSWORD__</a>
__ELSE__
__PRINT_LOGININFO__
__FI__ LOCALAUTH
</p>
 
  <div id="loginfooter">
    <div class="copyright">&copy; <a href="__MCLINK__">__MCLINKLABEL__</a></div>
    <div class="languageselector"><a href="/login.php?lang=en"><img src="images/flags/flagen.png" alt="English" class="flag" /></a><a href="/login.php?lang=fr"><img src="images/flags/flagfr.png" alt="Français" class="flag" /></a><a href="/login.php?lang=de"><img src="images/flags/flagde.png" alt="Deutch" class="flag" /></a><a href="/login.php?lang=es"><img src="images/flags/flages.png" alt="Espa&ntilde;ol" class="flag" /></a><a href="/login.php?lang=it"><img src="images/flags/flagit.png" alt="Italian" class="flag" /></a><a href="/login.php?lang=nl"><img src="images/flags/flagnl.png" alt="Italian" class="flag" /></a></div>
  </div>

</div>

</body>
</html>
