<!DOCTYPE html>
<html>

<head>
    <title>MailCleaner</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="Author" content="Olivier Diserens" />
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
    <meta name="robots" content="noindex" />
    <link rel="shortcut icon" type="image/x-icon" href="__TEMPLATE_PATH__/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/login.css" media="screen" />
</head>

<body>

    <div id="loginpanel">
        <img id="mclogo" src="images/logo_name.png" alt="" />

        <p id="sessioninfo">__LANG_SESSIONTERMINATED__</p>
        <p id="logoutinfo">__BEENLOGGEDOUT__</p>

        <div id="loginfooter">
            <div class="copyright"><a href="https://__COPYRIGHTLINK__" target="_blank">__COPYRIGHTTEXT__</a></p>
            <div class="languageselector"></div>
        </div>

    </div>

</body>

</html>
