<!DOCTYPE html>
<html>

<head>
    <title>Mailcleaner</title>
    <link type="text/css" rel="stylesheet" href="styles/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
    __INCLUDE_JS__
</head>

<body>
    <center>

        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>

                <!-- MAILCLEANER LOGO LEFT -->
                <td width="90" height="90" valign="top"><img src="images/mc_logo.png" border="0" alt="MailCleaner" />
                </td>

                <!-- GUI TITLE AND NAVIGATION -->
                <td height="90" valign="top" width="100%">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                        <tr>
                            <td height="50" align="left" style="background-image:url(images/nav_space3.gif)"><img
                                    src="images/mc_text.gif" border="0" alt="antispam/antivirus" /></td>
                        </tr>
                        <tr>
                            <td height="22" align="center" style="background-image:url(images/nav_space4.gif)">
                                <table width="291" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="97">__O_LINK_PARAMETERS__<img src="images/__LANG__/__P_IMG__"
                                                border="0" alt="__LANG_PARAMETERS__" />__C_LINK__</td>
                                        <td width="97">__O_LINK_QUARANTINE__<img src="images/__LANG__/__Q_IMG__"
                                                border="0" alt="__LANG_QUARANTINE__" />__C_LINK__</td>
                                        <td width="97">__O_LINK_SUPPORT__<img src="images/__LANG__/__S_IMG__" border="0"
                                                alt="__LANG_SUPPORT__" />__C_LINK__</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>

                <!-- LOGOUT AND ADVERTISMENT RIGHT PANEL -->
                <td height="90" valign="top" align="right" style="background-image:url(images/nav_space.gif)">
                    <table border="0" width="100%" cellpadding="0" cellspacing="2">
                        <tr valign="top">
                            <td height="32" align="right"
                                style="background-image:url(images/nav_space3.gif); white-space: nowrap;"
                                nowrap="nowrap">
                                <div class="smallblacktext">
                                    __LANG_USERNAME__
                                    : <b>
                                        __PRINT_USERNAME__
                                    </b>
                                    __O_LINK_LOGOUT__<img src="images/__LANG__/logout.gif" border="0" align="middle"
                                        alt="__LANG_LOGOUT__" />__C_LINK__</div>
                            </td>
                        </tr>
                        <tr align="right">
                            <td><img src="images/fastnetlogo.gif" border="0" alt="" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </center>
</body>

</html>
