<!DOCTYPE html>
<html>

<head>
    <title>Parameters</title>
    <link type="text/css" rel="stylesheet" href="styles/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
    __INCLUDE_JS__

    <script language="javascript">
__IF__ SEEWHITELISTEDIT
        function openWhite() {
            window.document.open('__LINK_EDITWHITELIST__', '', 'width=750,height=400,toolbar=no,resizable=yes');
        }
__FI__ SEEWHITELISTEDIT
__IF__ SEEWARNLISTEDIT
        function openWarn() {
            window.document.open('__LINK_EDITWARNLIST__', '', 'width=750,height=400,toolbar=no,resizable=yes');
        }
__FI__ SEEWARNLISTEDIT
    </script>

</head>

<body>
    <center><br />
        <table border="0" cellpadding="0" cellspacing="10">
            <tr>
                <!-- USER PREFERENCES -->
                <td width="50%" valign="top">
                    __BEGIN_USER_FORM__
                    <table width="95%" border="0" cellpadding="1" cellspacing="0" bgcolor="#333333">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellpadding="3" cellspacing="0" bgcolor="#FFFFFF">
                                    <tr>
                                        <td bgcolor="#CCCCCC" height="27" class="blocktitle">&nbsp;__LANG_USERPARAM__
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="blocktext">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="center" class="blocktext" style="white-space: nowrap;">
                                            __LANG_LANGUAGE__:&nbsp;
                                            __SELECTOR_LANG__
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="blocktext">&nbsp;</td>
                                    </tr>
                                    <tr valign="middle" align="center">
                                        <td class="blocktext" valign="middle" style="white-space: nowrap;">
                                            __LANG_ADDRESS__:&nbsp;__ADDRESS_SELECTOR__&nbsp;
                                            <a href="__ADD_ALIAS_LINK__"><img src="images/plus.gif" border="0"
                                                    align="middle" alt="__LANG_ADDADDRESSALT__" /></a>
                                            <a href="__REMOVE_ALIAS_LINK__"><img src="images/minus.gif" border="0"
                                                    align="middle" alt="__LANG_REMADDRESSALT__" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="blocktext">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#CCCCCC" align="center">__SUBMIT_BUTTON__</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    __CLOSE_USER_FORM__
                </td>
                <!-- ADDRESS PREFERENCES -->
                <td width="50%">
                    __BEGIN_ADDRESS_FORM__
                    <table width="95%" border="0" cellpadding="1" cellspacing="0" bgcolor="#333333">
                        <tr>
                            <td>
                                <table class="blocktext" width="100%" border="0" cellpadding="3" cellspacing="0"
                                    bgcolor="#FFFFFF" align="center">
                                    <tr>
                                        <td colspan="2" bgcolor="#CCCCCC" height="27" class="blocktitle"
                                            style="white-space: nowrap;">
                                            &nbsp;__LANG_ADDRESSPARAM__:&nbsp;__ADDRESS_SELECTOR2__&nbsp;&nbsp;&nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="blocktext" align="center" colspan="2" style="white-space: nowrap;">
                                            __APPLY_ALL_CHECKBOX__</td>
                                    </tr>
                                    <tr>
                                        <td class="blocktext" colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="right" valign="top" width="50%">__LANG_SPAMACTION__: </td>
                                        <td align="left" valign="top" width="50%" style="white-space: nowrap;">
                                            __ACTION_RADIOS__</td>
                                    </tr>
                                    __BEGIN_QUARANTINE_BOUNCES_BLOCK__
                                    <tr>
                                        <td class="blocktext" colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="right" width="50%" style="white-space: nowrap;">
                                            &nbsp;__LANG_QUARBOUNCES__: </td>
                                        <td align="left" width="50%">__QUARBOUNCES_CHECKBOX__</td>
                                    </tr>
                                    __CLOSE_QUARANTINE_BOUNCES_BLOCK__
                                    <tr>
                                        <td class="blocktext" colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="right" width="50%" style="white-space: nowrap;">__LANG_SUBJECTTAG__:
                                        </td>
                                        <td align="left" width="50%">__TAG_TEXTFIELD__</td>
                                    </tr>
                                    <tr>
                                        <td class="blocktext" colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="right" valign="top" width="50%" style="white-space: nowrap;">
                                            __LANG_SUMMARYFREQ__: </td>
                                        <td align="left" valign="top" width="50%">__SUMFREQ_RADIOS__</td>
                                    </tr>
                                    <tr>
                                        <td align="right" valign="middle" width="50%" style="white-space: nowrap;">
                                            __LANG_SUMMARYTYPE__: </td>
                                        <td align="left" valign="top" width="50%">__SUMMARYTYPE__</td>
                                    </tr>
                                    <tr>
                                        <td class="blocktext" colspan="2">&nbsp;</td>
                                    </tr>
                                    __IF__ SEEWARNLISTEDIT
                                    <tr>
                                        <td align="center" colspan="2">
                                            &nbsp;<a href="javascript:openWarn();">__LANG_EDITWARNLIST__&nbsp;<img
                                                    src="templates/default/images/pencil.gif" border="0"
                                                    align="abstop"></a>
                                        </td>
                                    </tr>
                                    __FI__ SEEWARNLISTEDIT
                                    __IF__ SEEWHITELISTEDIT
                                    <tr>
                                        <td align="center" colspan="2">
                                            &nbsp;<a href="javascript:openWhite();">__LANG_EDITWHITELIST__&nbsp;<img
                                                    src="templates/default/images/pencil.gif" border="0"
                                                    align="abstop"></a>
                                        </td>
                                    </tr>
                                    __FI__ SEEWHITELISTEDIT

                                    <tr>
                                        <td class="blocktext" colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" bgcolor="#CCCCCC" align="center"><input type="submit"
                                                value="__LANG_SUBMIT__" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    __CLOSE_ADDRESS_FORM__
                </td>
            </tr>
        </table>
    </center>
</body>

</html>
