<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>MailCleaner &ndash; __LANG_QUARANTINEMENU__</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="Author" content="Olivier Diserens" />
  <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
  <link rel="shortcut icon" type="image/x-icon" href="__TEMPLATE_PATH__/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/navigation.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/quarantine.css" media="screen" />
  
      <link rel="stylesheet" href="templates/default/newsletters/js/jquery-ui.min.css">
    <link rel="stylesheet" href="templates/default/newsletters/css/newsletters.css">
    <script src="templates/default/newsletters/js/external/jquery/jquery.js"></script>
    <script src="templates/default/newsletters/js/jquery-ui.min.js"></script>
    <script src="templates/default/newsletters/js/newsletters_quarantine.js"></script>       

  <script type="text/javascript" charset="utf-8">
   var template_path = '__TEMPLATE_PATH__';
   var fmtext = '__LANGJS_FORCEMESSAGE__';
   var satext = '__LANGJS_ANALYSEREQUESTV__';
   var vitext = '__LANGJS_MESSAGEPREVIEW__';
   
   var force_icon = template_path+"/images/release";
   var forced_icon = template_path+"/images/released";
   var info_icon = template_path+"/images/info";
   var analyse_icon = template_path+"/images/analyse";
   
   var popup_width = 500;
   var popup_height = 251;
   var info_width = 500;
   var info_height = 500;
   var email_address = '__EMAIL_ADDRESS__';
   var lang = '__LANG__';
   var nb_days = '__NB_DAYS__';
   var mask_forced = '__MASK_FORCED__';
   
  __INCLUDE_JS_SCRIPTS__
  </script>
  <script src="scripts/quarantine.js" type="text/javascript" charset="utf-8"></script>
  <style type="text/css" media="screen">
    #quarantinebutton:visited , #quarantinebutton:link {
     color: #FFFFFF;
    }

    #quarantinebutton:link {
    color: #FFFFFF;
    background-color: #e93a00;
    }
    
    .c___ORDER_FIELD__ {
      font-weight: bold !important;
    }
    .globalbloc {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      background-color: #FFFFFF;
      border: 1px solid #CAB4BE !important;
      margin-bottom: 10px;
      min-height: 240px;
    }
   .globalbloc h1 {
      margin: 0px;
      color: #590047;
      padding-left: 12px;
      font-weight: normal;
      text-decoration: none;
      font-size: 12px;
      text-shadow: 0px 2px #FFF;
      height: 23px;
      line-height: 24px;
      border: 0px;
      border-bottom: 1px solid #C6ADC6;
      background-image: url(templates/default/images/boxtitle.png);
      font-weight: bold;
      text-align: left;
   }
  </style>
    
 
<!--[if gt IE 5]>
<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" />
<![endif]-->
     
 </head>
<body>

<div id="container">

<!-- flyover box for quarantine -->
<div id="tooltip">
</div>
<!-- END flyover box -->


__INCLUDE__(header.tmpl)
__IF__ MSGTODISPLAY
<div class="globalbloc" style="min-height: 0px; margin-top: 20px; width: 80%;">
        <h1 style="font-weight: bold; color: #552056; font-size: 13px;display:none;">InfoBox by MailCleaner Team </h1>
        <div class="maclasseamoi" style="min-height: 20px; max-height: 240px; padding: 6px 12px; overflow-y: scroll; text-align: justify">
                __INFOBOX_USER__
        </div>
</div>
__FI__ MSGTODISPLAY


<div id="pagecontent">
__BEGIN_FILTER_FORM__
<div id="addressselectpanel">
	<p>__LANG_SELECTEDADDRESS__: </p>
	__ADDRESS_SELECTOR__ __GROUPQUARANTINES__ __LANG_GROUPQUARANTINES__
</div>

 <div id="searchpanel">
 <img src="images/loupe.png" alt="__LANG_SEARCH__" />
	__LANG_SENDER__: __SEARCHFROM_FIELD__
    __LANG_SUBJECT__: __SEARCHSUBJECT_FIELD__
  <!--  __LAST_NBDAYS__ -->
    __SEARCH_BUTTON__
</div>
__END_FILTER_FORM__

__DEFAULT__ ASC_IMG = <img src="images/orderby_asc.png" alt="" />
__DEFAULT__ DESC_IMG = <img src="images/orderby_desc.png" alt="" />

<div id="quarantine">
 <table id="quarantinetable">
   
__IF__ filtered
   <tr id="quarantinebanner">
     <td colspan="5"><img src="images/searchheader.png" alt="MailCleaner" /><p>__SEARCH_SUMMARY__ &mdash; <strong>__LANG_CRITERIAS__</strong> :
       __CRITERIA_SUMMARY__</p><a class="resetsearch" href="__LINK_THISPAGE__">__LANG_RESETSEARCH__</a></td>
   </tr>
__ELSE__ filtered
   <tr id="quarantinebanner">
__IF__ group_quarantines
     <td colspan="6">
__ELSE__ group_quarantines
     <td colspan="5">
__FI__ group_quarantines
      <img src="images/logopmc.png" alt="MailCleaner" /><p>__QUARANTINE_SUMMARY__</p></td>
   </tr>
__FI__ filtered

__TMPL_CRITERIAS_START__
__FILTERNAME__ = "__FILTERVALUE__"
__TMPL_CRITERIAS_STOP__
__DEFAULT__ CRITERIAS_SEP =, 
   
   <tr id="quarantineheader">
      <td class="c_action c_title">__LANG_ACTION__</td>
      <td class="c_date c_title"><a href="__LINK_ORDERDATE__">__LANG_DATE__ __ASCDESC_DATE_IMG__</a></td>
__IF__ group_quarantines
      <td class="c_to c_title"><a href="__LINK_ORDERTO__">__LANG_TO__ __ASCDESC_TO_IMG__</a></td>
__FI__ group_quarantines
      <td class="c_from c_title"><a href="__LINK_ORDERFROM__">__LANG_SENDER__ __ASCDESC_FROM_IMG__</a></td>
      <td class="c_subject c_title"><a href="__LINK_ORDERSUBJECT__">__LANG_SUBJECT__ __ASCDESC_SUBJECT_IMG__</a></td>
      <td class="c_globalscore c_title"><a href="__LINK_ORDERSCORE__">__LANG_SCORE__ __ASCDESC_SCORE_IMG__</a></td>
   </tr>
   	   
__DEFAULT__ BULLETEMPTY_IMG = <img src="images/dot_off.png" alt="" class="bullet_off" />
__DEFAULT__ BULLETFILLED_IMG = <img src="images/dot_on.png" alt="" class="bullet_on" />
__DEFAULT__ FORCE_IMG = images/release_off.png
__DEFAULT__ FORCED_IMG = images/released_off.png

 __TMPL_QUARANTINE_START__
<tr class="quarantine_content __FORCEDCLASS__" onmouseover="highlightActionIcon('__ROW_ID__', __FORCED__, ''); return true;" onmouseout="highlightActionIcon('__ROW_ID__', __FORCED__, '_off'); return true;">
  <td class="c_action"><a href="javascript:force('__MSG_ID__','__STORE_ID__', '__TO__');" onmouseover="showHideToolTip(event, true, 'fm', 'L'); return true;" onmouseout="showHideToolTip(event, false, '', 'L'); return true;"><img src="__FORCE_ICON__" id="r__ROW_ID__" alt="release" /></a>
<a href="javascript:infos('__MSG_ID__','__STORE_ID__', '__TO__');" onmouseover="showHideToolTip(event, true, 'vi', 'L'); return true;" onmouseout="showHideToolTip(event, false, '', 'L'); return true;"><img src="images/info_off.png" id="v__ROW_ID__" class="middleactionincon" alt="info" /></a>
<a href="javascript:analyse('__MSG_ID__','__STORE_ID__', '__TO__');" onmouseover="showHideToolTip(event, true, 'sa', 'L'); return true;" onmouseout="showHideToolTip(event, false, '', 'L'); return true;"><img src="images/analyse_off.png" id="a__ROW_ID__" alt="analyse" /></a></td>
  <td onclick="javascript:infos('__MSG_ID__','__STORE_ID__', '__TO__');">__DATE__&nbsp;&nbsp;&nbsp;__TIME__</td>
  __IF_GROUPQUARANTINE__<td onclick="javascript:infos('__MSG_ID__','__STORE_ID__', '__TO__');"><a href="javascript:;">__TO__</a></td>__FI_GROUPQUARANTINE__
  <td onclick="javascript:infos('__MSG_ID__','__STORE_ID__', '__TO__');"><a href="javascript:;">__FROM__</a></td>
  <td><a onclick="javascript:infos('__MSG_ID__','__STORE_ID__', '__TO__');" href="javascript:;" style="float:left;">__SUBJECT__</a> __IS_NEWSLETTER__</td>
  <td class="c_globalscore" onmouseover="showHideToolTip(event, true, '__SCORETEXT__', 'R'); return true;" onmouseout="showHideToolTip(event, false, '', 'R'); return true;" onclick="javascript:infos('__MSG_ID__','__STORE_ID__', '__TO__');">__SCORE__<span class="hiddenscore">__SCOREVALUE__</span></td>
</tr>
__TMPL_QUARANTINE_STOP__

__QUARANTINE_LIST__


__DEFAULT__ sep = |
  <tr id="pagination">
   <td id="actual_page" colspan="2">__CURRENT_PAGE__</td>
   __IF__ group_quarantines
     <td id="pages_navigation" colspan="4">
   __ELSE__ group_quarantines
   <td id="pages_navigation" colspan="3">
   __FI__ group_quarantines
    __PREVIOUS_PAGE__ __PAGE_SEP__ __NEXT_PAGE__ __PAGE_SEP____PAGES__</td>
  </tr>
</table>
<p class="quickactions"><img src="images/trash.png" alt="__LANG_PURGESELECTEDSPAMS__" /><a href="javascript:purge();">__LANG_PURGESELECTEDSPAMS__</a></p>
 <p class="quickactions"><img src="images/rapport.png" alt="__LANG_SENDSUM__" /><a href="javascript:summary();">__LANG_SENDSUM__</a> </p>
<p id="purgeinfos">__DISPLAYEDINFOS__ __PURGEINFOS__</p>

</div>

</div>
__INCLUDE__(footer.tmpl)

</div>
</body>
</html>
