<!DOCTYPE html>
<html>

<head>
    <title>MailCleaner &ndash; __LANG_ANALYSEREQUEST__</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="Author" content="Olivier Diserens" />
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
    <link rel="shortcut icon" type="image/x-icon" href="__TEMPLATE_PATH__/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/popup.css" media="screen" />
    <script src="scripts/popup.js" type="text/javascript" charset="utf-8"></script>
    __INCLUDE_JS__
</head>

<body onload="disableCloseWithoutReferrer();">

    <div id="container">
        <form id="input" method="post" action="">
            <div id="popupheader">
                <img src="images/analyse_b.png" alt="" />
                <p>__LANG_ANALYSEREQUEST__</p>
            </div>

            <div id="text">
                <p>__MESSAGE__</p>
            </div>

            <div id="buttons">
                <input type="button" class="button" id="close" onclick="javascript:closeMe();"
                    value="__CANCELCLOSE__" />
                __CONFIRM_BUTTON__
            </div>
        </form>
    </div>
</body>

</html>
