<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>MailCleaner &ndash; __LANG_STATISTICSMENU__</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="Author" content="Olivier Diserens" />
  <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
  <link rel="shortcut icon" type="image/x-icon" href="__TEMPLATE_PATH__/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/navigation.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/stats.css" media="screen" />
  <script src="scripts/stats.js" type="text/javascript" charset="utf-8"></script>
  <style type="text/css" media="screen">
    #statsbutton:visited , #statsbutton:link {
     color: #FFFFFF;
    }

    #statsbutton:link {
    color: #FFFFFF;
    background-color: #e93a00;
    }
  </style>
    
<!--[if gt IE 5]>
<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" />
<![endif]-->

 </head>
<body onload="javascript:useDateSearchType('__DATESEARCHTYPE__');">

<div id="container">

<!-- flyover box for quarantine -->
<div id="tooltip">
</div>
<!-- END flyover box -->

__INCLUDE__(header.tmpl)

<div id="pagecontent">
__BEGIN_FILTER_FORM__
<div id="addressselectpanel">
	<p>__LANG_SELECTEDADDRESS__: </p>
	__ADDRESS_SELECTOR__
</div>

 <div id="filterpanel">
    <p>__LANG_SEARCHPERIOD__: </p>
 	__INPUT_PERIODRADIO__ __INPUT_PERIODSELECT__ __LANG_LASTDAYS__
    __INPUT_DATERADIO__ __LANG_DATESTART__ __FORMAT_DATE(__INPUT_STARTDAY__, __INPUT_STARTMONTH__, __INPUT_STARTYEAR__, )__ 
                        __LANG_DATESTOP__ __FORMAT_DATE(__INPUT_STOPDAY__, __INPUT_STOPMONTH__, __INPUT_STOPYEAR__, )__ 
    __REFRESH_BUTTON__
</div>
__END_FILTER_FORM__

__DEFAULT__ BARWIDTH = 100
__DEFAULT__ SPAMCOLOR = F48C30
__DEFAULT__ VIRUSCOLOR = FF0000
__DEFAULT__ CLEANCOLOR = 58B733
__DEFAULT__ PIEWIDTH = 100
__DEFAULT__ PIEHEIGHT = 50

__TMPL_STAT_START__
<table class="stattable">
 <tr>
   <td class="stattablehead" colspan="4"><img src="images/stat.png" alt="statistics" /><p>__USERSTATS_TITLE__ (__DATE_STRING__)</p></td>
 </tr>
 
 <tr>
  <td rowspan="4" class="graphpanel">
   <div class="bargraph" onclick="javascript:showPie();">
   <p>__NBPROCESSEDMSGS__</p>
   <div class="bar">
     <div class="virus" style="width: __BARWIDTH_VIRUS__px;"></div> 
     <div class="spam" style="width: __BARWIDTH_SPAM__px;"></div>
     <div class="clean" style="width: __BARWIDTH_CLEAN__px;"></div>
   </div>
   <p>__DATE_STRING__</p>
   
   </div>
   <div class="piegraph" onclick="javascript:showBar();">
      <img src="__PIE_GRAPH__" alt="" />
      <p>__NBPROCESSEDMSGS__ - __DATE_STRING__</p>
   </div>
  </td>
  <td class="countlegend">__LANG_RECEIVEDMESSAGES__: </td>
  <td colspan="2"><div class="msgslegend">&nbsp;</div><p>__COUNT_MSGS__</p></td>
 </tr>
 <tr>
  <td class="countlegend">__LANG_RECEIVEDVIRUS__: </td>
  <td class="countvalue"><img src="images/statbulletvirus.png" alt="virus" /><p>__COUNT_VIRUS__</p></td>
  <td><p>__PERCENT_VIRUS__ %</p></td>
 </tr>
 <tr>
  <td class="countlegend">__LANG_RECEIVEDSPAM__: </td>
  <td class="countvalue"><img src="images/statbulletspam.png" alt="virus" /><p>__COUNT_SPAM__</p></td>
  <td><p>__PERCENT_SPAM__ %</p></td>
 </tr>
 <tr>
  <td class="countlegend">__LANG_RECEIVEDCLEAN__: </td>
  <td class="countvalue"><img src="images/statbulletclean.png" alt="virus" /><p>__COUNT_CLEAN__</p></td>
  <td class="countvaluep"><p>__PERCENT_CLEAN__ %</p></td>
 </tr>
</table>
__TMPL_STAT_STOP__

__DISPLAY_STATSLIST__


 __TMPL_GLOBALSTAT_START__
 <table class="stattable">
 <tr>
   <td class="globalstattablehead" colspan="4"><img src="images/statglobal.png" alt="statistics" /><p>__LANG_GLOBALSTATSTITLE__</p></td>
 </tr>
 
 <tr>
  <td rowspan="4" class="graphpanel">
  <div class="bargraph" onclick="javascript:showPie();">
   <p>__NBPROCESSEDMSGS__</p>
   <div class="bar">
     <div class="virus" style="width: __BARWIDTH_VIRUS__px;"></div> 
     <div class="spam" style="width: __BARWIDTH_SPAM__px;"></div>
     <div class="clean" style="width: __BARWIDTH_CLEAN__px;"></div>
   </div>
   <p>__DATE_STRING__</p>
   </div>
   <div class="piegraph" onclick="javascript:showBar();">
      <img src="__PIE_GRAPH__" alt="" />
      <p>__NBPROCESSEDMSGS__ - __DATE_STRING__</p>
   </div>
  </td>
  <td class="countlegend">__LANG_RECEIVEDMESSAGES__: </td>
  <td colspan="2"><div class="msgslegend">&nbsp;</div><p>__COUNT_MSGS__</p></td>
 </tr>
 <tr>
  <td class="countlegend">__LANG_RECEIVEDVIRUS__: </td>
  <td class="countvalue"><img src="images/statbulletvirus.png" alt="virus" /><p>__COUNT_VIRUS__</p></td>
  <td><p>__PERCENT_VIRUS__ %</p></td>
 </tr>
 <tr>
  <td class="countlegend">__LANG_RECEIVEDSPAM__: </td>
  <td class="countvalue"><img src="images/statbulletspam.png" alt="virus" /><p>__COUNT_SPAM__</p></td>
  <td><p>__PERCENT_SPAM__ %</p></td>
 </tr>
 <tr>
  <td class="countlegend">__LANG_RECEIVEDCLEAN__: </td>
  <td class="countvalue"><img src="images/statbulletclean.png" alt="virus" /><p>__COUNT_CLEAN__</p></td>
  <td><p>__PERCENT_CLEAN__ %</p></td>
 </tr>
</table>
 __TMPL_GLOBALSTAT_STOP__
__DISPLAY_GLOBALSTAT__
&nbsp;
</div>
__INCLUDE__(footer.tmpl)

</div>
</body>
</html>
