<!DOCTYPE html>
<html>

<head>
    <title>Support</title>
    <link type="text/css" rel="stylesheet" href="styles/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
</head>

<body>
    <center><br />
        <div class="blocktext">
            <font color="red">&nbsp;__MESSAGE__</font>
        </div>
        <table width="85%" border="0" cellpadding="1" cellspacing="0" bgcolor="#333333">
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="5" cellspacing="0" bgcolor="#FFFFFF">
                        <tr>
                            <td bgcolor="#CCCCCC">
                                <div class="blocktitle">Support</div>
                            </td>
                        </tr>

                        <tr>
                            <td class="blocktext">&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="blocksubtitle"><b>__LANG_SFALSENEGTITLE__</b></td>
                        </tr>
                        <tr>
                            <td class="blocksubtitle"><b>__LANG_SFALSENEGSUBTITLE__</b></td>
                        </tr>
                        <tr>
                            <td class="blocktext">__LANG_SVERIFYPASS__</td>
                        </tr>
                        <tr>
                            <td class="blocktext">>&nbsp;__LANG_SMCLOGTITLE__</td>
                        </tr>
                        <tr>
                            <td class="blocktext">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="blocktext" width="100">&nbsp;</td>
                                        <td class="blocktext">__LANG_SMCLOGLINE1__</td>
                                    </tr>
                                    <tr>
                                        <td class="blocktext" width="100">&nbsp;</td>
                                        <td class="blocktext">__LANG_SMCLOGLINE2__</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="blocktext">>&nbsp;__LANG_SMCFILTERINGLOG__</td>
                        </tr>
                        <tr>
                            <td class="blocktext">__LANG_SFALSENEGTUTOR__</td>
                        </tr>

                        <tr>
                            <td class="blocktext">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="blocksubtitle"><b>__LANG_SFALSEPOSTITLE__</b></td>
                        </tr>
                        <tr>
                            <td class="blocksubtitle"><b>__LANG_SFALSEPOSSUB1TITLE__</b></td>
                        </tr>
                        <tr>
                            <td class="blocktext">__LANG_SFALSEPOSSUB1__</td>
                        </tr>
                        <tr>
                            <td class="blocktext">>&nbsp;__LANG_SFALSEPOSSUB1POINT1__</td>
                        </tr>
                        <tr>
                            <td class="blocktext">>&nbsp;__LANG_SFALSEPOSSUB1POINT2__</td>
                        </tr>
                        <tr>
                            <td class="blocksubtitle"><b>__LANG_SFALSEPOSSUB2TITLE__</b></td>
                        </tr>
                        <tr>
                            <td class="blocktext">__LANG_SFALSEPOSSUB2__</td>
                        </tr>

                        <tr>
                            <td class="blocksubtitle"><b>__LANG_SFALSEPOSSUB3TITLE__</b></td>
                        </tr>
                        <tr>
                            <td class="blocktext">__LANG_SFALSEPOSSUB3__</td>
                        </tr>
                        <tr>
                            <td class="blocktext">&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="blocksubtitle"><b>__LANG_SOTHERTITLE__</b></td>
                        </tr>
                        <tr>
                            <td class="blocktext">__LANG_SOTHER__</td>
                        </tr>

                        <tr>
                            <td class="blocktext" align="center">
                                __BEGIN_SUPPORT_FORM__
                                <table width="530" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="80" align="right" class="blocksubtitle">
                                            <b>__LANG_COMPANY__:</b>&nbsp;&nbsp;</td>
                                        <td width="150" align="left">__COMPANY_FIELD__</td>
                                        <td width="300" valign="middle" class="blocksubtitle">
                                            <b>__LANG_YOURPHONENUMBER__:</b> __PHONE_FIELD__</td>
                                    </tr>
                                    <tr>
                                        <td align="right" class="blocksubtitle"><b>__LANG_NAME__*:&nbsp;&nbsp;</b> </td>
                                        <td align="left">__NAME_FIELD__</td>
                                        <td rowspan="3" class="blocksubtitle">
                                            <b>__LANG_WHATCANWEDO__*</b><br />__WAHTCANWEDO__</td>
                                    </tr>
                                    <tr>
                                        <td align="right" class="blocksubtitle"><b>__LANG_FIRSTNAME__*:&nbsp;&nbsp;</b>
                                        </td>
                                        <td align="left">__FIRSTNAME_FIELD__</td>
                                    </tr>
                                    <tr>
                                        <td align="right" class="blocksubtitle"><b>__LANG_EMAIL__*:&nbsp;&nbsp;</b>
                                        </td>
                                        <td align="left">__EMAIL_FIELD__</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="blocktext">(* __LANG_NEEDEDFIELDS__) </td>
                                        <td align="left"><br />__RESET_BUTTON__&nbsp;&nbsp;__SUBMIT_BUTTON__</td>
                                    </tr>
                                </table>
                                __CLOSE_SUPPORT_FORM__

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table><br /><br />
    </center>
</body>

</html>
