<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>MailCleaner &ndash; __LANG_MESSAGEPREVIEW__</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="Author" content="Olivier Diserens" />
  <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html" />
  <link rel="shortcut icon" type="image/x-icon" href="__TEMPLATE_PATH__/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/messageview.css" media="screen" />
  <script type="text/javascript" charset="utf-8">
__IF__ FIRSTOPEN
   var new_height=700;
   var win_width=700;
   window.resizeTo(win_width, new_height);
__FI__ FIRSTOPEN
   var expanded_image = "images/expanded.png";
   var contracted_image = "images/expand.png";  
   var openedparts = new Array('msgbody');

   var popup_width = 500;
   var popup_height = 331;
   var msgid = '__MSG_ID__';
   var news = '__NEWS__';
   var storeid = '__STORESLAVE__';
   var email_address = '__TO__';
   var lang = '__LANG__';
   var fmtext = '__LANGJS_FORCEMESSAGE__';
   var satext = '__LANGJS_ANALYSEREQUESTV__';
   var cltext = '__LANGJS_CLOSEWINDOW__';
  </script>
  <link rel="stylesheet" href="templates/default/newsletters/css/newsletters.css">
  <script src="templates/default/newsletters/js/external/jquery/jquery.js"></script>
  <script src="templates/default/newsletters/js/jquery-ui.min.js"></script>
  <script src="templates/default/newsletters/js/newsletters_quarantine.js"></script>         
  <script src="scripts/messageview.js" type="text/javascript" charset="utf-8"></script>
  <script src="scripts/popup.js" type="text/javascript" charset="utf-8"></script>
  <script src="scripts/quarantine.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body onload="initpanels();disableCloseWithoutReferrer();">

<div id="container">

<!-- flyover box for quarantine -->
<div id="tooltip">
</div>
<!-- END flyover box -->

<div id="viewheader">
  <img src="images/message_info.png" alt="" />
  <p>__LANG_INFORMATIONSABOUTMSG__ 
    (__LANG_ID__: __MSG_ID__)</p>
</div>

__TMPL_GENERALINFO_START__
   <tr>
     <td class="fieldname">__INFO_NAME__:</td>
     <td class="fieldvalue">__INFO_VALUE__</td>
   </tr>
__TMPL_GENERALINFO_STOP__
<table id="generalinfostable">
     <tr>
      <td class="fieldname">&nbsp;</td>
      <td class="fieldvalue">
       <div id="actionpanel">
          <a href="javascript:redimAndForce();" onmouseover="showHideToolTip(event, true, 'fm', 'R'); return true;" onmouseout="showHideToolTip(event, false, '', 'R'); return true;"><img src="images/release.png" alt="__LANG_FORCEMESSAGE__" /></a>
          <a href="javascript:redimAndAnalyse();" onmouseover="showHideToolTip(event, true, 'sa', 'R'); return true;" onmouseout="showHideToolTip(event, false, '', 'R'); return true;"><img src="images/analyse.png" alt="__LANG_ANALYSEREQUEST__" /></a>
          <a id="closemebutton" href="javascript:closeMe();" onmouseover="showHideToolTip(event, true, 'cl', 'R'); return true;" onmouseout="showHideToolTip(event, false, '', 'R'); return true;"><img src="images/close.png" alt="__LANG_CLOSEWINDOW__" /></a>
       </div>
      </td>
     </tr>
     __GENERALINFO_LIST__
     <tr><td class="fieldname">&nbsp;</td><td class="fieldvalue"></td></tr>
</table>
__IF__ SCORENOTNULL
<div id="sascorestitle" class="infotitle"><img id="sascores_expandimg" src="images/expand.png" alt="expand" onclick="javascript:openclosepanel('sascores'); return true;" /><p>__LANG_SPAMCSCORE__</p></div>
  __TMPL_SARULES_START__
   <tr>
     <td class="fieldname">__INFO_NAME__</td>
     <td class="fieldvalue">__INFO_VALUE__</td>
   </tr>
  __TMPL_SARULES_STOP__
  <table id="sascores" class="openclosepanel">
     <tr><td class="fieldname">&nbsp;</td><td class="fieldvalue"></td></tr>
    <tr id="scorehead"><td class="fieldname">__LANG_SCORE__</td>
        <td class="fieldvalue">__LANG_DESCRIPTION__</td>
    </tr>
   __SARULES_LIST__
   <tr id="scorefoot">
     <td class="fieldname">__TOTAL_SCORE__</td>
     <td class="fieldvalue"></td>
   </tr>
     <tr><td class="fieldname">&nbsp;</td><td class="fieldvalue"></td></tr>
  </table>
  
__FI__ SCORENOTNULL

<div id="msgheaderstitle" class="infotitle"><img id="msgheaders_expandimg" src="images/expand.png" alt="expand" onclick="javascript:openclosepanel('msgheaders'); return true;" /><p>__LANG_HEADERS__</p></div>
   __TMPL_MSGHEADERS_START__
   <tr>
     <td class="fieldname">__INFO_NAME__:</td>
     <td class="fieldvalue">__INFO_VALUE__</td>
   </tr>
  __TMPL_MSGHEADERS_STOP__
 
 <table id="msgheaders" class="openclosepanel">
   <tr><td class="fieldname">&nbsp;</td><td class="fieldvalue"></td></tr>
   __MSGHEADERS_LIST__
   <tr><td class="fieldname">&nbsp;</td><td class="fieldvalue"></td></tr>
 </table>
<div id="msgbodytitle" class="infotitle"><img id="msgbody_expandimg" src="images/expand.png" alt="expand" onclick="javascript:openclosepanel('msgbody'); return true;" /><p>__LANG_BODY__</p></div>
 <div id="msgbody" class="openclosepanel">__MSG_BODY__</div>
</div>
</body>
</html>
