<tr class="infoBoxContent">
 <td colspan="2"><hr width="80%"></td>
</tr>

<tr class="infoBoxContent">
  <td colspan="2">&nbsp;</td>
</tr>

<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_HITSTOBESPAM__:&nbsp;</td>
  <td width="60%" align="left">__FORM_HITSTOBESPAM__</td>
</tr>

<tr class="infoBoxContent">
  <td colspan="2">&nbsp;</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right"><b>__LANG_DNSLISTS__</b></td>
  <td width="60%" align="left">&nbsp;</td>
 </tr>
 
__TMPL_DNSLIST_START__
<tr class="infoBoxContent">
  <td width="40%" align="right">__NAME__:&nbsp;</td>
  <td width="60%" align="left">__FORM_ENABLELIST__ __COMMENT__</td>
</tr>
__TMPL_DNSLIST_STOP__

__DNSLIST_LIST__