<tr class="infoBoxContent">
 <td colspan="2"><hr width="80%"></td>
</tr>

<tr class="infoBoxContent">
  <td colspan="2">&nbsp;</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right"><b>__LANG_LOCALCHECKS__</b></td>
  <td width="60%" align="left">&nbsp;</td>
 </tr>

<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USEBAYES__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSEBAYES__&nbsp;&nbsp; __LANG_AUTOLEARN__:&nbsp;__FORM_INPUTUSEAUTOLEARN__</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USEOCR__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSEOCR__</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USEIMAGEINFO__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSEIMAGEINFO__</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USEPDFINFO__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSEPDFINFO__</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USEBOTNET__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSEBOTNET__</td>
</tr>


<tr class="infoBoxContent">
  <td colspan="2">&nbsp;</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right"><b>__LANG_NETWORKCHECKS__</b></td>
  <td width="60%" align="left">&nbsp;</td>
 </tr>
<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USERBLS__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSERBLS__&nbsp;&nbsp; __LANG_TIMEOUT__:&nbsp;__FORM_INPUTRBLSTIMEOUT__
  __LANG_SECONDS__</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_RBLSLIST__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTSARBLS__</td>
</tr>


<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USEDCC__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSEDCC__&nbsp;&nbsp; __LANG_TIMEOUT__:&nbsp;__FORM_INPUTDCCTIMEOUT__
  __LANG_SECONDS__</td>
</tr>

<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USERAZOR__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSERAZOR__&nbsp;&nbsp; __LANG_TIMEOUT__:&nbsp;__FORM_INPUTRAZORTIMEOUT__
   __LANG_SECONDS__</td>
</tr>

<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USEPYZOR__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSEPYZOR__&nbsp;&nbsp; __LANG_TIMEOUT__:&nbsp;__FORM_INPUTPYZORTIMEOUT__
    __LANG_SECONDS__</td>
</tr>

<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USESPF__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSESPF__&nbsp;&nbsp; __LANG_TIMEOUT__:&nbsp;__FORM_INPUTSPFTIMEOUT__
  __LANG_SECONDS__</td>
</tr>

<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USEDOMAINKEYS__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSEDOMAINKEYS__&nbsp;&nbsp; __LANG_TIMEOUT__:&nbsp;__FORM_INPUTDOMAINKEYSTIMEOUT__
  __LANG_SECONDS__</td>
</tr>

<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USEDKIM__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTUSEDKIM__&nbsp;&nbsp; __LANG_TIMEOUT__:&nbsp;__FORM_INPUTDKIMTIMEOUT__
  __LANG_SECONDS__</td>
</tr>
