<tr class="infoBoxContent">
 <td colspan="2"><hr width="80%"></td>
</tr>

<tr class="infoBoxContent">
  <td colspan="2">&nbsp;</td>
</tr>

<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USEALLTRUSTED__:&nbsp;</td>
  <td width="60%" align="left">__FORM_USEALLTRUSTED__</td>
</tr>

<tr class="infoBoxContent">
  <td colspan="2">&nbsp;</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right"><b>__LANG_SPFCHECKS__</b></td>
  <td width="60%" align="left">&nbsp;__LANG_SPFLINK__</td>
 </tr>
 
<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USESPFONLOCAL__:&nbsp;</td>
  <td width="60%" align="left">__FORM_USESPFONLOCAL__</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right" valign="top">__LANG_DOMAINSTOSPF__:&nbsp;</td>
  <td width="60%" align="left">__FORM_DOMAINSTOSPF__</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_USESPFONGLOBAL__:&nbsp;</td>
  <td width="60%" align="left">__FORM_USESPFONGLOBAL__</td>
</tr>

<tr class="infoBoxContent">
  <td colspan="2">&nbsp;</td>
</tr>
<tr class="infoBoxContent">
  <td width="40%" align="right"><b>__LANG_AUTHENTICATEDSERVERS__</b></td>
  <td width="60%" align="left">&nbsp;</td>
 </tr>
<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_AUTHSERVERS__:&nbsp;</td>
  <td width="60%" align="left">__FORM_AUTHSERVERS__</td>
</tr>

<tr class="infoBoxContent">
  <td width="40%" align="right">__LANG_AUTHSTRING__:&nbsp;</td>
  <td width="60%" align="left">__FORM_AUTHSTRING__</td>
</tr>