<html>
  <head>
    <title>mailcleaner</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body background="images/__LANG__/top_frame_back.gif" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
   <table width="98%" border="0" cellpadding="0" cellspacing="0">
    <tr height="20px">
	<td align="right">
	 <font size="-2" color="white">vous &ecirc;tes connect&eacute; sous l'identit&eacute;: <b>__PRINT_USERNAME__</b></font>
	</td>
    </tr>
   </table>
  </body>

</html>
