<html>
<head>
        <title>Mailcleaner administration</title>
</head>
        <frameset cols="175,*" border=0 framespacing="0" frameborder="NO">
                <frame src="__NAVIGATION_PAGE__" noresize name="navig_frame" noresize scrolling="no">
                <frameset rows="21,*" border=0 framespacing="0" frameborder="NO">
                  <frame src="custom.php?t=1" noresize name="top_frame" noresize scrolling="no">
                  <frame src="__QUARANTINE_PAGE__" noresize name="main_frame" noresize>
                </frameset>
        </frameset>
        <noframes>
                <body>
                        sorry, frame required
                </body>
        </noframes>
</html>

