<html>
<head>
  <title>Mailcleaner user interface</title>
    <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>

    <center>
    <br/><br/>
__PRINT_STATUS__
<br/><br/>
__LANG_ASKLOGIN__
<br/><br/>
__PRINT_LOGIN_FORM__
<br/>
</center>

</body>
</html>
