<html>
<head>
<title>mailcleaner_navig_decoup.gif</title>
<meta http-equiv="Content-Type" content="text/html;">

</head>
<body background="images/__LANG__/mailcleaner_navi_r9_c1.gif" bgcolor="#ffffff" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">

<table border="0" cellpadding="0" cellspacing="0" width="175">
  <tr>
   <td><img name="mailcleaner_navi_r1_c1" src="images/__LANG__/mailcleaner_navi_r1_c1.gif" width="175" height="38" border="0" alt=""></td>
   <td><img src="spacer.gif" width="1" height="38" border="0" alt=""></td>
  </tr>
  <tr>
   <td><img name="mailcleaner_navi_r2_c1" src="images/__LANG__/mailcleaner_navi_r2_c1.gif" width="175" height="152" border="0" alt=""></td>
   <td><img src="spacer.gif" width="1" height="152" border="0" alt=""></td>
  </tr>
  <tr>
   <td><img name="mailcleaner_navi_r3_c1" src="images/__LANG__/mailcleaner_navi_r3_c1.gif" width="175" height="98" border="0" alt=""></td>
   <td><img src="spacer.gif" width="1" height="98" border="0" alt=""></td>
  </tr>
  <tr>
   <td>__O_LINK_PARAMETERS__<img name="mailcleaner_navi_r4_c1" src="images/__LANG__/__P_IMG__" width="175" height="17" border="0" alt="params">__C_LINK__</td>
   <td><img src="spacer.gif" width="1" height="17" border="0" alt=""></td>
  </tr>
  <tr>
   <td>__O_LINK_QUARANTINE__<img name="mailcleaner_navi_r5_c1" src="images/__LANG__/__Q_IMG__" width="175" height="24" border="0" alt="quarantine">__C_LINK__</td>
   <td><img src="spacer.gif" width="1" height="24" border="0" alt=""></td>
  </tr>
  <tr>
   <td>__O_LINK_SUPPORT__<img name="mailcleaner_navi_r6_c1" src="images/__LANG__/__S_IMG__" width="175" height="19" border="0" alt="support">__C_LINK__</td>
   <td><img src="spacer.gif" width="1" height="19" border="0" alt=""></td>
  </tr>
  <tr>
   <td><img name="mailcleaner_navi_r7_c1" src="images/__LANG__/mailcleaner_navi_r7_c1.gif" width="175" height="198" border="0" alt=""></td>
   <td><img src="spacer.gif" width="1" height="198" border="0" alt=""></td>
  </tr>
  <tr>
   <td>__O_LINK_LOGOUT__<img name="mailcleaner_navi_r8_c1" src="images/__LANG__/mailcleaner_navi_r8_c1.gif" width="175" height="12" border="0" alt="logout">__C_LINK__</td>
   <td><img src="spacer.gif" width="1" height="12" border="0" alt=""></td>
  </tr>
  <tr>
   <td><img name="mailcleaner_navi_r9_c1" src="images/__LANG__/mailcleaner_navi_r9_c1.gif" width="175" height="44" border="0" alt=""></td>
   <td><img src="spacer.gif" width="1" height="44" border="0" alt=""></td>
  </tr>
</table>
</body>
</html>
