<html>
  <head>
    <title>mailcleaner</title>
    <link rel="stylesheet" href="styles/main.css">
__INCLUDE_JS__
 </head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<center><br/><br/>
<table width="80%" bgcolor="black" border="0" cellpading="1" cellspacing="0">
<tr><td>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#cccccc" height="40" valign="center">
     <td align="center"><font size="3"><b>__LANG_USERPARAM__</b></font></td>
  </tr>
</table>
</td></tr>
</table>
<br/><br/>

__BEGIN_USER_FORM__
<!-- USER PARAMETERS -->
<table width="80%" border="0" cellpadding="4" cellspacing="0">
 <tr>
   <td width="150px" align="center" bgcolor="black">
     <font color="white"><b>__LANG_USERPARAM__</b></font>
   </td>
   <td></td>
 </tr>
</table>
<table width="80%" bgcolor="black" border="0" cellpading="1" cellspacing="0">
<tr><td>
<table width="100%" border="0" cellpadding="0" cellspacing="0"> 
  <tr bgcolor="#cccccc" height="20" valign="top"><td>&nbsp;</td></tr>
  <tr bgcolor="#cccccc" height="20" valign="center">
      <td align="center"><font size="2">__LANG_LANGUAGE__:</font> __SELECTOR_LANG__</td>
  </tr>
  <tr bgcolor="#cccccc" height="20" valign="top"><td>&nbsp;</td></tr>
  <tr bgcolor="#cccccc" height="20" valign="top">
     <td align="center"><font size="2">__LANG_ADDRESS__ : </font>__ADDRESS_SELECTOR__&nbsp;
	  <a href="__ADD_ALIAS_LINK__"><img src="images/plus.gif" border="0" align="absmiddle" alt="__LANG_ADDADDRESSALT__"></a>
	  <a href="__REMOVE_ALIAS_LINK__"><img src="images/minus.gif" border="0" align="absmiddle" alt="__LANG_REMADDRESSALT__"></a></nobr>
     </td>             
  </tr>
  <tr bgcolor="#cccccc" height="20" valign="top"><td>&nbsp;</td></tr>
  <tr bgcolor="#cccccc" height="20" valign="top" align="center"><td>__SUBMIT_BUTTON__</td></tr>
  <tr bgcolor="#cccccc" height="20" valign="top"><td>&nbsp;</td></tr>
</table> 
</td></tr>
</table>
<br/><br/>
__CLOSE_FORM__

__BEGIN_ADDRESS_FORM__
<!-- ACTION DU FILTRE -->

<table width="80%" border="0" cellpadding="4" cellspacing="0">               
 <tr>
   <td width="150px" align="center" bgcolor="black">
     <font color="white"><b>__LANG_ADDRESSPARAM__</b></font>
   </td>
   <td></td>                  
 </tr>
</table> 
<table width="80%" bgcolor="black" border="0" cellpading="1" cellspacing="0">
<tr><td>
<table width="100%" border="0" cellpadding="0" cellspacing="0"> 
  <tr bgcolor="#cccccc" height="20" valign="top"><td>&nbsp;</td></tr>
  <tr bgcolor="#cccccc" height="20" valign="top">
   <td align="center">
      <table width="95%" border="0" cellpadding="2" cellspacing="0">
      <tr>
         <td colspan="2" align="center">__ADDRESS_SELECTOR2__</td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr>
      	 <td colspan="2" align="center">__APPLY_ALL_CHECKBOX__</td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr>
       <tr>
         <td width="40%" align="right" valign="top"><font size="2">__LANG_SPAMACTION__:&nbsp;&nbsp;</font></td>
         <td width="60%">__ACTION_RADIOS__</td>
       </tr>
       <tr><td colspan="2">&nbsp;</td></tr>
       <tr>
         <td align="right"><font size="2">__LANG_SUBJECTTAG__:&nbsp;&nbsp;</font></td>
	 <td>__TAG_TEXTFIELD__</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
	   <td align="right" valign="top"><font size="2">__LANG_SUMMARYFREQ__:&nbsp;&nbsp;</font></td>
	   <td>__SUMFREQ_RADIOS__</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td colspan="2" align="center">__SUBMIT_BUTTON__</td></tr>
	<tr><td colspan="2">&nbsp;</td></tr>
      </table>
   </td>
  </tr>
</table>  
</td></tr>
</table>
<br/><br/>

</center>
</body>
</html>
