<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <title>Quarantaine</title>
 <link type="text/css" rel="stylesheet" href="styles/main.css">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta name="Author" content="Olivier Diserens">
 <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
<script type="text/javascript" language="javascript">
__INCLUDE_JS_SCRIPTS__
function open_popup(link) {
  window.open(link, '', 'width=500,height=201,toolbar=0,resizable=0,scrollbars=0');
}
function open_reasons(link) {
  window.open(link, '', 'width=500,height=201,toolbar=0,resizable=1,scrollbars=1');
}
function open_summary() {
  window.open('__SENDSUMMARY_LINK__', '', 'width=500,height=201,toolbar=0,resizable=0,scrollbars=0');
}
</script>
</head>
<body>
__BEGIN_FILTER_FORM__
<table width="100%" border="0" cellpadding="0" cellspacing="10">
<!-- ADDRESS ROW -->
  <tr>
    <td width="150"></td>
    <td width="100%" class="blocktext" style="white-space: nowrap;">__LANG_ADDRESS__: __ADDRESS_SELECTOR__</td>
  </tr>

<!-- MAIN ROW -->
  <tr>
   <!-- MENU COLUMN -->
    <td valign="top">
        <!-- STAT BLOCK -->
        <table width="165" border="0" cellpadding="1" cellspacing="0" bgcolor="#333333">
          <tr><td>
              <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF" class="blocktext">
                <tr>
                  <td bgcolor="#CCCCCC" class="blocktitle">__LANG_USERSTATS__</td>
                </tr>
                <tr>
                  <td align="center">__STATS_MSGS__</td>
                </tr>
                <tr>
                  <td align="center"><img src="__STATS_PIE__" border="0"></td>
                </tr>
                <tr>
                  <td align="center"><font color="#54EB48">__STATS_CLEAN__</font><br/><font color="#6633FF">__STATS_SPAMS__</font><br/><font color="#EB9748">__STATS_DANGEROUS__</font></td>
                </tr>
                </table>
          </td></tr>
        </table>
        <br/>
        <!-- FILTER BLOCK -->
        <table width="165" border="0" cellpadding="1" cellspacing="0" bgcolor="#333333">
          <tr><td>
                <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF" class="blocktext">
                  <tr>
                    <td bgcolor="#CCCCCC" class="blocktitle">__LANG_FILTER__</td>
                  </tr>
                  <tr>
                    <td>__LAST_NBDAYS__</td>
                  </tr>
                  <tr>
                    <td>__MASK_FORCED_BOX__ __LANG_HIDEFORCED__</td>
                  </tr>
                  <tr>
                    <td>__NBMSGAS_SELECT__</td>
                  </tr>
                  <tr>
                    <td bgcolor="#CCCCCC" class="blocksubtitle">__LANG_ADVANCEDSEARCH__</td>
                  </tr>
                  <tr>
                    <td>__LANG_COMINGFROM__<br/>__SEARCHFROM_FIELD__</td>
                  </tr>
                  <tr>
                    <td>__LANG_SUBJECT__<br/>__SEARCHSUBJECT_FIELD__</td>
                  </tr>
                  <tr>
                    <td align="center" bgcolor="#CCCCCC">__REFRESH_BUTTON__</td>
                  </tr>
                </table>
          </td></tr>
        </table>
        <br/>
        <!-- ACTION BLOCK -->
        <table width="165" border="0" cellpadding="1" cellspacing="0" bgcolor="#333333">
          <tr><td>
                <table width="100%" border="0" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF" class="blocktext">
                  <tr>
                    <td bgcolor="#CCCCCC" class="blocktitle">__LANG_ACTION__</td>
                  </tr>
                  <tr>
                    <td align="left"><br/>&nbsp;&nbsp;<a href="javascript:open_popup('__PURGE_LINK__')"><img src="images/trash.gif" border="0" alt="" />__LANG_PURGESELECTEDSPAMS__</a></td>
                  </tr>
                  <tr>
                    <td align="left">&nbsp;&nbsp;<a href="javascript:open_popup('__SEND_SUMMARY_LINK__')"><img src="images/summary.gif" border="0" alt="" />__LANG_SENDSUM__</a></td>
                  </tr>
                </table>
          </td></tr>
        </table>

    </td>
__DEFAULT__ ASC_IMG = <img src="images/asc.gif" border="0" alt="" />
__DEFAULT__ DESC_IMG = <img src="images/desc.gif" border="0" alt="" />
__DEFAULT__ BULLETEMPTY_IMG = <img src="templates/default/images/bullet_empty.gif" border="0">
__DEFAULT__ BULLETFILLED_IMG = <img src="templates/default/images/bullet_filled.gif" border="0">

   <!-- MAIN QUARANTINE -->
   <td width="100%" valign="top">
     <table width="100%" border="0" cellpadding="1" cellspacing="0" bgcolor="#333333">
       <tr><td> 
        <table width="100%" border="0" cellpadding="3" cellspacing="0" bgcolor="#CCCCCC" class="blocktext">
          <tr class="quartitle">
            <td width="70"><a href="__LINK_ORDERDATE__">__LANG_DATE__ __ASCDESC_DATE_IMG__</a></td>
            <td width="55"><a href="__LINK_ORDERDATE__">__LANG_HOUR__</a></td>
            <td width="80" style="white-space: nowrap;"><a href="__LINK_ORDERFROM__">__LANG_FROM__ __ASCDESC_FROM_IMG__</a></td>
            <td style="white-space: nowrap;"><a href="__LINK_ORDERSUBJECT__">__LANG_SUBJECT__ __ASCDESC_SUBJECT_IMG__</a></td>
            <td width="50px" align="center"><nobr><a href="__LINK_ORDERSCORE__">__LANG_SCORE__ __ASCDESC_SCORE_IMG__</a></nobr></td>
            <td width="40" style="white-space: nowrap;"><a href="__LINK_ORDERFORCED__">__LANG_FORCED__ __ASCDESC_FORCED_IMG__</a></td>
            <td width="50" align="center">__LANG_ACTION__</td>
          </tr>

__TMPL_QUARANTINE_START__
<tr bgcolor="__COLOR1__#ededed__COLOR2__#ffffff">
 <td align="left" width="70" style="white-space: nowrap;">__DATE__</td>
 <td align="left" width="55" style="white-space: nowrap;">__TIME__</td>
 <td align="left" width="80" style="white-space: nowrap;">__FROM__</td>
 <td align="left" style="white-space: nowrap;">__SUBJECT__</td>
 <td align="center" width="50px"><nobr>__SCORE__</nobr></td>
 <td align="center" width="40">__FORCE__<img src="images/forced.gif" alt=""/>__FORCE__</td>
 <td align="center" width="50" style="white-space: nowrap;">
   <a href="javascript:open_popup('__FORCETARGET__')"><img border="0" src="images/force.gif" alt="__LANG_FORCESPAM__" /></a>
   <a href="javascript:open_reasons('__REASONSTARGET__')"><img border="0" src="images/reasons.gif" alt="__LANG_ASKREASON__" /></a>
   <a href="javascript:open_popup('__ANALYSETARGET__')"><img border="0" src="images/analyse.gif" alt="__LANG_ASKANALYSE__" /></a>
 </td>
</tr>
__TMPL_QUARANTINE_STOP__

__QUARANTINE_LIST__

          <!-- TOTAL ROW -->
          <tr>
            <td colspan="3" align="left" class="blocktext">__TOTAL_SPAMS__</td>
__DEFAULT__ sep = |
            <td colspan="4" align="right" class="blocktext" style="white-space: nowrap;">__LANG_PAGE__&nbsp;__ACTUAL_PAGE__/__TOTAL_PAGES__ - __PREVIOUS_PAGE__ __PAGE_SEP__ __NEXT_PAGE__</td>
          </tr>
        </table>
       </td></tr>
      </table>
     <table border="0" width="100%" cellpadding="0" cellspacing="0"> 
        <tr><td height="3" class="blocktext"></td></tr>
        <tr><td class="blocktext" valign="middle" align="center">
                <img border="0" src="images/force.gif" align="middle" alt="" /> = __LANG_FORCESPAM__&nbsp;&nbsp;|&nbsp;&nbsp;
                <img border="0" src="images/reasons.gif" align="middle" alt="" /> = __LANG_ASKREASON__&nbsp;&nbsp;|&nbsp;&nbsp;
                <img border="0" src="images/analyse.gif" align="middle" alt="" /> = __LANG_ASKANALYSE__
        </td></tr>
        </table>
   </td>
  </tr>
</table>
__END_FILTER_FORM__
</body>
</html>