<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transtional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>mailcleaner</title>
    <link type="text/css" rel="stylesheet" href="styles/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
</head>

<body>
<table width="100%" style="height: 100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr valign="middle"><td align="center">
    <table width="500" style="height: 200px" border="0" cellpadding="1" cellspacing="0" bgcolor="#333333">
      <tr><td>
        <table width="100%" style="height: 100%" border="0" cellpadding="0" cellspacing="0">

          <tr valign="middle" align="center" bgcolor="#CCCCCC"><td height="35">__LANG_SENDSUMTITLE__</td></tr>
          <tr align="center" valign="middle" bgcolor="#FFFFFF" class="blocktextbig">
            <td align="center">__MESSAGE__</td>
          </tr>
          <tr valign="middle" align="center" bgcolor="#CCCCCC">
	     <td height="35"><form action=""><input type="button" name="close" onclick="javascript:window.close();" value="__LANG_CLOSE__"></form>
	     </td>
	  </tr>
        </table>
      </td></tr>
    </table>

 </td></tr>
</table>

</body>
</html>