<html>
  <head>
    <title>mailcleaner</title>
    <link rel="stylesheet" href="styles/main.css">
__INCLUDE_JS__   
 </head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<center><br/><br/>
<table width="80%" bgcolor="black" border="0" cellpading="1" cellspacing="0">
<tr><td>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#cccccc" height="40" valign="center">
     <td align="center"><font size="3"><b>Page de support de mailcleaner.net</b></font></td>
  </tr>
</table>
</td></tr>
</table>
<br/><br/>

<!-- FAUX-NEGATIFS -->
<table width="80%" border="0" cellpadding="4" cellspacing="0">
 <tr>
   <td width="150px" align="center" bgcolor="black">
     <font color="white"><b>Faux-n&eacute;gatifs</b></font>
   </td>
   <td></td>
 </tr>
</table>
<table width="80%" bgcolor="black" border="0" cellpading="1" cellspacing="0">
<tr><td>
<table width="100%" border="0" cellpadding="5" cellspacing="0" bgcolor="white"> 
__INCLUDE_SUPPORT__
__INCLUDE_SUPPORT_FORM__
</table>
</td></tr>
</table>
<br/><br/>

<br/><br/>

</center>
</body>
</html>
