<html>
  <head>
    <title>mailcleaner</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">

<script language="JavaScript">

__IF__ FIRSTOPEN
  var new_height=700;
  var win_width=700;
  window.resizeTo(win_width, new_height);
__FI__ FIRSTOPEN


</script>

__DEFAULT__ VIRUS_IMG = <img src="templates/default/images/virus.gif" border="0" alt="__LANG_VIRUSFOUND__">&nbsp;
__DEFAULT__ NAME_IMG = <img src="templates/default/images/name.gif" border="0" alt="__LANG_FILENAMEFOUND__">&nbsp;
__DEFAULT__ OTHER_IMG = <img src="templates/default/images/other.gif" border="0" alt="__LANG_OTHERFOUND__">&nbsp;
__DEFAULT__ SPAM_IMG = <img src="templates/default/images/isspam.gif" border="0" alt="__LANG_SPAMFOUND__">&nbsp;

  </head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<center>
<br/>
<table width="90%" border="0" cellpadding="1" cellspacing="0" bgcolor="#333333" id="bigblock"><tr><td>
<table width="100%" height="100%" border="0" cellpadding="2" cellspacing="2" bgcolor="#FFFFFF" class="blocktitle">
 <tr>
   <td colspan="2" bgcolor="#BBBBBB" align="center" >__LANG_INFORMATIONSABOUTMSG__: __MSG_ID__</td>
 </tr>
 <tr>
  <td width="20%" bgcolor="#DDDDDD" align="right">__LANG_FROM__: </td>
  <td bgcolor="#FFFFFF" class="blocktext">__FROM__</td>
 </tr>

 <tr>  <td bgcolor="#DDDDDD" align="right">__LANG_TO__: </td>
  <td bgcolor="#FFFFFF" class="blocktext">__TO__</td>
 </tr>

 <tr>  <td bgcolor="#DDDDDD" align="right">__LANG_DATE__: </td>
  <td bgcolor="#FFFFFF" class="blocktext">__DATE__</td>
 </tr>

 <tr>  <td bgcolor="#DDDDDD" align="right" valign="top">__LANG_SUBJECT__: </td>
  <td bgcolor="#FFFFFF" class="blocktext">__SUBJECT__</td>
 </tr>
 
 <tr>  <td bgcolor="#DDDDDD" align="right" valign="top">__LANG_PREFILTERHITS__: </td>
  <td bgcolor="#FFFFFF" class="blocktext">__PREFILTERS__</td>
 </tr>
 <tr>  <td bgcolor="#DDDDDD" align="right" valign="top">__LANG_BLACKLISTS__: </td>
  <td bgcolor="#FFFFFF" class="blocktext">__RBLS__</td>
 </tr>
 <tr>  <td bgcolor="#DDDDDD" align="right" valign="top">__LANG_FITLERSCORE__: 
__IF__ SCORENOTNULL
  <a href="__SCOREARROWLINK__"><img border="0" src="images/__SCOREARROWGIF__"></a>
__FI__ SCORENOTNULL
  
 </td>
  <td bgcolor="#FFFFFF" class="blocktext">
__IF__ VIEWSCORE
<table width="100%" border="0" cellpadding="2" cellspacing="0" bgcolor="#FFFFFF">
  __FILTERSCORE__

  <tr bgcolor="#666666">
    <td align="left" class="blocktext"><font color="#FFFFFF">__LANG_TOTAL__</font></td>
    <td align="right" class="blocktext"><font color="#FFFFFF">__TOTAL_SCORE__</font></td>
  </tr>
</table>
__ELSE__ VIEWSCORE
  __TOTAL_SCORE__
__FI__ VIEWSCORE
  
  
__TMPL_RULES_START__
<tr bgcolor="__COLOR1__#ffffff__COLOR2__#ededed">
<td align="left" class="blocktext">__RULE__</td>
<td align="right" class="blocktext">__SCORE__</td>
</tr>
__TMPL_RULES_STOP__

  </td>
 </tr>
 
 <tr>  <td bgcolor="#DDDDDD" valign="top" align="right">__LANG_HEADERS__: <a href="__HEADERSARROWLINK__"><img border="0" src="images/__HEADERSARROWGIF__"></a></td>
  <td bgcolor="#FFFFFF" class="blocktext">__HEADERS__</td>
</tr>

<tr>  <td bgcolor="#DDDDDD" valign="top" align="right">__LANG_BODY__: <a href="__BODYARROWLINK__"><img border="0" src="images/__BODYARROWGIF__"></a></td>
  <td bgcolor="#FFFFFF" class="blocktext">__BODY__</td>
</tr>

<tr>  <td bgcolor="#DDDDDD" valign="top" align="right">__LANG_PARTS__: </td>
  <td bgcolor="#FFFFFF" class="blocktext">__PARTS__</td>
</tr>

<tr>  <td bgcolor="#DDDDDD" valign="top" align="right">__LANG_STORESLAVE__: </td>
  <td bgcolor="#FFFFFF" class="blocktext">__STORESLAVE__</td>
</tr>
    

</table></td></tr>
</table>
 <br/>

<form><input type="button" name="close" onclick="javascript:window.close();" value="__LANG_CLOSE__"></form>
<br/>

</body>
</html>
<!--
<script language="JavaScript">
 var x,y;
var test1 = document.body.scrollHeight;
var test2 = document.body.offsetHeight
if (test1 > test2) // all but Explorer Mac
{
            x = document.body.scrollWidth;
            y = document.body.scrollHeight;
}
else // Explorer Mac;
     //would also work in Explorer 6 Strict, Mozilla and Safari
{
            x = document.body.offsetWidth;
            y = document.body.offsetHeight;
}

 
  window.resizeTo(700, y);  
</script>
-->