html { color: #000000; font-style: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
body { color: #000000; font-style: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}

table { color: #000000; font-style: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
tr { color: #000000; font-style: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
td { color: #000000; font-style: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}

h1 { color: #000000; font-style: normal; font-weight: bold; font-size: 18pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
h2 { color: #000000; font-style: normal; font-weight: bold; font-size: 16pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
h3 { color: #000000; font-style: normal; font-weight: bold; font-size: 14pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular} 

li { color: black; font-style: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
p { color: #000000; font-style: normal; font-size: 7pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}

td { color: black; font-style: normal; font-size: 9pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
a  { color: #999999; font-style: normal; line-height: normal; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
a  { color: #999999; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular}
a:hover  { color: red; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: underline }
a:active { color: #000000; text-decoration: underline }
a:vlink { color: #999999; }
