html { color: #000000; font-style: normal; font-weight: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }
body { color: #000000; font-style: normal; font-weight: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }

table { color: #000000; font-style: normal; font-weight: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }
tr { color: #000000; font-style: normal; font-weight: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }
td { color: #000000; font-style: normal; font-weight: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }

h1 { color: #000000; font-style: normal; font-weight: bold; font-size: 18pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }
h2 { color: #000000; font-style: normal; font-weight: bold; font-size: 16pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }
h3 { color: #000000; font-style: normal; font-weight: bold; font-size: 14pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none } 

li { color: black; font-style: normal; font-weight: normal; font-size: 10pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }
p { color: #000000; font-style: normal; font-weight: normal; font-size: 7pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }

td { color: black; font-style: normal; font-weight: normal; font-size: 9pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }
a  { color: black; font-style: normal; font-weight: normal; line-height: normal; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }
a  { color: black; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none }
a:hover  { color: black; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: underline }
a:active { color: #000000; text-decoration: underline }
a:vlink { color: black; }
