__FORM_BEGIN_ADMINEDIT__
<table width="100%" border="0" cellpadding="2" cellspacing="0">
 <tr class="infoBoxHeading">
  <td width="40%" align="right">__LANG_ADMINISTRATOR__: </td>
  <td width="60%" align="left">__ADMIN__</td>
 </tr>
 <tr class="infoBoxContent"><td colspan="2" align="center"><font color="red">__SAVE_STATUS__</font></td></tr>

 <tr class="infoBoxContent"><td colspan="2"><b>__LANG_ACCESS__&nbsp;&nbsp; __DOC_ADMINACCESS__</b></td></tr>
 <tr class="infoBoxContent" valign="middle">
  <td width="40%" align="right">__LANG_PASSWORD__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTPASSWORD__</td>
 </tr>
 <tr class="infoBoxContent" valign="middle">
  <td width="40%" align="right">__LANG_CONFIRM__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTCONFIRM__</td>
 </tr>
 <tr class="infoBoxContent"><td colspan="2">&nbsp;</td></tr>

 <tr class="infoBoxContent"><td colspan="2"><b>__LANG_AUTHORIZATIONS__&nbsp;&nbsp; __DOC_ADMINAUTHORIZATIONS__</b></td></tr>

 <tr class="infoBoxContent"><td colspan="2">&nbsp;</td></tr>
 <tr class="infoBoxContent" valign="middle">
  <td width="40%" align="right">__LANG_MANAGEABLEDOMAINS__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTDOMAINS__</td>
 </tr> 
 <tr class="infoBoxContent" valign="middle">
  <td width="40%" align="right">__LANG_CANMANAGEDOMAINS__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTCANMANAGEDOMAINS__</td>
 </tr>
 <tr class="infoBoxContent" valign="middle">
  <td width="40%" align="right">__LANG_CANMANAGEUSERS__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTCANMANAGEUSERS__</td>
 </tr>
 <tr class="infoBoxContent" valign="middle">
  <td width="40%" align="right">__LANG_CANCONFIGURE__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTCONFIGURE__</td>
 </tr>
 <tr class="infoBoxContent" valign="middle">
  <td width="40%" align="right">__LANG_CANVIEWSTATS__:&nbsp;</td>
  <td width="60%" align="left">__FORM_INPUTCANVIEWSTATS__</td>
 </tr>

 <tr class="infoBoxContent"><td colspan="2">&nbsp;</td></tr>

 <tr class="infoBoxHeading"><td colspan="2" align="center"><input type="image" name="submit" src="templates/default/images/apply.gif">&nbsp;</td></tr>

</table>
__FORM_CLOSE_ADMINEDIT__
