<!DOCTYPE html>
<html>

<head>
    <title>Dangerous content protection configuration</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <link type="text/css" rel="stylesheet" href="templates/default/styles/list.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
</head>

<body onLoad="javascript:__RELOAD_NAV_JS__">
    <center>
        <br />
        __FORM_BEGIN_DANGEROUS__
        <table width="60%" border="0" cellpadding="2" cellspacing="0">

            <tr class="infoBoxHeading">
                <td width="40%" align="left" colspan="2">__LANG_DANGEROUSSETTINGS__&nbsp;&nbsp; __DOC_DANGEROUSTITLE__
                </td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2" align="center">
                    <font color="red">__SAVE_STATUS__</font>
                </td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>

            <tr class="infoBoxContent">
                <td colspan="2"><b>__LANG_HTMLCHECKS__&nbsp;&nbsp; __DOC_DANGEROUSHTMLCHECKS__</b></td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>

            <tr class="infoBoxContent">
                <td width="40%" align="right">__LANG_IFRAMETAGS__:&nbsp;</td>
                <td width="60%" align="left">__FORM_INPUTIFRAMETAGS__ __FORM_INPUTIFRAMESILENT__
                    __LANG_DONTWARNRECIPIENT__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="40%" align="right">__LANG_FORMTAGS__:&nbsp;</td>
                <td width="60%" align="left">__FORM_INPUTFORMTAGS__ __FORM_INPUTFORMSILENT__ __LANG_DONTWARNRECIPIENT__
                </td>
            </tr>
            <tr class="infoBoxContent">
                <td width="40%" align="right">__LANG_SCRIPTTAGS__:&nbsp;</td>
                <td width="60%" align="left">__FORM_INPUTSCRIPTTAGS__ __FORM_INPUTSCRIPTSILENT__
                    __LANG_DONTWARNRECIPIENT__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="40%" align="right">__LANG_CODEBASETAGS__:&nbsp;</td>
                <td width="60%" align="left">__FORM_INPUTCODEBASETAGS__ __FORM_INPUTCODEBASESILENT__
                    __LANG_DONTWARNRECIPIENT__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="40%" align="right">__LANG_WEBBUGS__:&nbsp;</td>
                <td width="60%" align="left">__FORM_INPUTWEBBUGS__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right" valign="top">__LANG_HTMLWLIPS__:&nbsp;</td>
                <td width="50%" align="left">__FORM_INPUTHTMLWLIPS__</td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2"><b>__LANG_FORMATCHECKS__</b>&nbsp;&nbsp; __DOC_DANGEROUSFORMATCHECKS__</td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>

            <tr class="infoBoxContent">
                <td width="40%" align="right">__LANG_PASSWORDARCHIVES__:&nbsp;</td>
                <td width="60%" align="left">__FORM_INPUTPASSWORDARCHIVES__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="40%" align="right">__LANG_PARTIALMESSAGE__:&nbsp;</td>
                <td width="60%" align="left">__FORM_INPUTPARTIALMESSAGE__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="40%" align="right">__LANG_EXTERNALBODIES__:&nbsp;</td>
                <td width="60%" align="left">__FORM_INPUTEXTERNALBODIES__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="40%" align="right">__LANG_ENCRYPTEDMESSAGES__:&nbsp;</td>
                <td width="60%" align="left">__FORM_INPUTENCYPTEDMESSAGES__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="40%" align="right">__LANG_UNENCRYPTEDMESSAGES__:&nbsp;</td>
                <td width="60%" align="left">__FORM_INPUTUNENCRYPTEDMESSAGES__</td>
            </tr>

            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2"><b>__LANG_ATTACHMENTCHECKS__</b>&nbsp;&nbsp; __DOC_DANGEROUSATTACHCHECKS__</td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2" align="center"><a href="__LINK_FILENAMECHECKS__" target="_blank"><img
                            src="templates/default/images/filename.gif" border="0"
                            align="absmiddle">&nbsp;&nbsp;__LANG_FILENAMECHECKS__</a>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2" align="center"><a href="__LINK_FILETYPECHECKS__" target="_blank"><img
                            src="templates/default/images/filetype.gif" border="0"
                            align="absmiddle">&nbsp;&nbsp;&nbsp;__LANG_FILETYPECHECKS__</a>
            </tr>

            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="infoBoxHeading">
                <td colspan="2" align="center"><input type="image" name="submit"
                        src="templates/default/images/apply.gif"></td>
            </tr>
        </table>
        __FORM_CLOSE_DANGEROUS__
</body>

</html>
