<!DOCTYPE html>
<html>

<head>
    <title>Default configuration</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <link type="text/css" rel="stylesheet" href="templates/default/styles/list.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
</head>

<body>
    <center>
        <br />
        __FORM_BEGIN_DEFAULTS__
        <table width="60%" border="0" cellpadding="2" cellspacing="0">

            <tr class="infoBoxHeading">
                <td width="40%" align="left" colspan="2">__LANG_DEFAULTSCONFIGURATIONPANEL__&nbsp;&nbsp;
                    __DOC_DEFAULTSTITLE__</td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2" align="center">
                    <font color="red">__SAVE_STATUS__</font>
                </td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>

            <tr class="infoBoxContent">
                <td colspan="2"><b>__LANG_DOMAINSDEFAULTS__&nbsp;&nbsp; __DOC_DEFAULTSDOMAINS__</b></td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right">__LANG_LANGUAGE__:&nbsp;</td>
                <td width="50%" align="left">__FORM_INPUTLANGUAGE__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right">__LANG_DEFAULTDOMAIN__:&nbsp;</td>
                <td width="50%" align="left">__FORM_INPUTDOMAIN__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right">__LANG_DISPLAYDOMAINCHOOSER__:&nbsp;</td>
                <td width="50%" align="left">__FORM_INPUTWANTCHOOSER__</td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>

            <tr class="infoBoxContent">
                <td colspan="2"><b>__LANG_ADDRESSES__&nbsp;&nbsp; __DOC_DEFAULTSADDRESSES__</b></td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right">__LANG_REPORTSPAMADDRESS__:&nbsp;</td>
                <td width="50%" align="left">__FORM_INPUTREPORTSPAMADDRESS__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right">__LANG_SYSTEMSENDERADDRESS__:&nbsp;</td>
                <td width="50%" align="left">__FORM_INPUTSYSTEMSENDER__</td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>

            <tr class="infoBoxContent">
                <td colspan="2"><b>__LANG_QUARANTINES__&nbsp;&nbsp; __DOC_DEFAULTSQUARANTINES__</b></td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right">__LANG_DAYSTOKEEPSPAMS__:&nbsp;</td>
                <td width="50%" align="left">__FORM_INPUTDAYSTOKEEPSPAMS__ __LANG_DAYS__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right">__LANG_DAYSTOKEEPVIRUSES__:&nbsp;</td>
                <td width="50%" align="left">__FORM_INPUTDAYSTOKEEPVIRUSES__ __LANG_DAYS__</td>
            </tr>
            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>

            <tr class="infoBoxContent">
                <td colspan="2"><b>__LANG_PERIODICTASKS__&nbsp;&nbsp; __DOC_DEFAULTSTASKS__</b></td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right">__LANG_DAILYCRONRUNAT__:&nbsp;</td>
                <td width="50%" align="left"> __FORM_INPUTHOURS__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right">__LANG_WEEKLYCRONRUNAT__:&nbsp;</td>
                <td width="50%" align="left">__FORM_INPUTWEEKDAYS__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right">__LANG_MONTHLYCRONRUNAT__:&nbsp;</td>
                <td width="50%" align="left">__FORM_INPUTMONTHDAYS__</td>
            </tr>
            <tr class="infoBoxContent">
                <td width="50%" align="right">__LANG_SYSLOGHOST__:&nbsp;</td>
                <td width="50%" align="left">__FORM_INPUTSYSHOST__</td>
            </tr>

            <tr class="infoBoxContent">
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="infoBoxHeading">
                <td colspan="2" align="center"><input type="image" name="submit"
                        src="templates/default/images/apply.gif"></td>
            </tr>
        </table>
        __FORM_CLOSE_DEFAULTS__
</body>

</html>
