<html>
  <head>
    <title>mailcleaner</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">

  </head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<center>
<br/>
<table width="90%" border="0" cellpadding="1" cellspacing="0" bgcolor="#333333" id="bigblock"><tr><td>
<table width="100%" height="100%" border="0" cellpadding="5" cellspacing="5" bgcolor="#FFFFFF" class="blocktitle">
<tr><td align="center"><font color="red">__ERROR__</font></td></tr>

<tr><td align="center"><b>__LANG_HOST__: __HOSTNAME__</b></td></tr>
<tr>
  <td align="center">
__ACTION_TEXT__
  </td>
</tr>

<tr><td align="center">
