__ACTION__</td></tr>
<tr><td>&nbsp;</td></tr>
</table></td></tr>
</table><br/>
<form><input type="button" name="close" onclick="javascript:window.parent.location.reload(true);window.close();" value="__LANG_CLOSE__"></form>
<br/>

</body>
</html> 
