<html>
<head>
  <title>Mailcleaner</title>
  <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="Author" content="Olivier Diserens">
  <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">

</head>

<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<center>
<br>
__FORM_BEGIN_SEARCH__
domain: __FORM_INPUTDOMAIN__<br>
start: __FORM_INPUTSTART__<br>
stop: __FORM_INPUTSTOP__<br>
__FORM_INPUTSUBMIT__

__FORM_CLOSE_SEARCH__
</td><td width="50%" align="left">
<table border="0" cellpadding="0" cellspacing="0"  class="smallblacktext">
 <tr><td colspan="2" align="center"><b>&nbsp;</b></td></tr>
 <tr>
   <td align="right">__LANG_MESSAGES__: </td>
   <td align="left"><font color="black"> __NB_MESSAGES__</font></td>
 </tr>
 <tr>
   <td align="right">__LANG_SPAMS__: </td>
   <td align="left"><font color="blue"> __NB_SPAMS__</font></td>
 </tr>
 <tr>
   <td width="50%" align="right">__LANG_VIRUSES__: </td>
   <td width="50%" align="left"><font color="#FF0000"> __NB_VIRUSES__</font></td>
 </tr>
 <tr>
   <td width="50%" align="right">__LANG_USERS__: </td>
   <td width="50%" align="left"><font color="#FF0000"> __NB_USERS__</font></td>
 </tr>
  <tr>
   <td width="50%" align="right">greylist: </td>
   <td width="50%" align="left">__HASGREYLIST__</td>
 </tr>
 <tr>
   <td width="50%" align="right">callout: </td>
   <td width="50%" align="left">__HASCALLOUT__</td>
 </tr>
 
</table>
</center>
</body>
</html> 
