<html>
  <head>
    <title>mailcleaner</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
</head>

<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr valign="center"><td align="center">
    <table width="500" height="200" border="0" cellpadding="1" cellspacing="0" bgcolor="#333333">
      <tr><td>
        <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">

          <tr valign="middle" align="center" bgcolor="#CCCCCC"><td height="35px">__LANG_FORCECONTENTTITLE__</td></tr>
          <tr align="center" valign="center" bgcolor="#FFFFFF" class="blocktextbig">
            <td align="center">__MESSAGE__</td>
          </tr>
          <tr valign="middle" align="center" bgcolor="#CCCCCC">
	     <td height="35px"><form><input type="button" name="close" onclick="javascript:window.close();" value="__LANG_CLOSE__"></form>
	     </td>
	  </tr>
        </table>
      </td></tr>
    </table>

 </td></tr>
</table>

</body>
</html>
