<html>
  <head>
    <title>Mailcleaner help</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <link type="text/css" rel="stylesheet" href="templates/default/styles/help.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
<script language="JavaScript">
win_width=window.outerwidth;
win_height=window.outerheight;
window.resizeTo(500,500);

function closeme() {
        window.resizeTo(win_width, win_height);
        window.close();
}
</script>

  <head>

<body>
<br/><br/>
<center>
<table width="90%" border="0" cellpadding="0" cellspacing="0">
<tr><td>
__DOC_TEXT__
</td></tr>
</table>
</center>
<br/><br/><center><a href="" onClick="closeme();">close</a></center><br/>
</body>
</html>