<html>
  <head>
    <title>Mailcleaner administration interface</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <link type="text/css" rel="stylesheet" href="templates/default/styles/list.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
   <script language="JavaScript">
<!-- 
    if(top.location != self.location) {
		top.location.href = "/admin/";
		top.location.pathname = "/admin/";
    }
// -->
   </script>
</head>

<frameset rows="90,*" border=0 framespacing="0" frameborder="NO">
        <frame src="__TOP_PAGE__" noresize name="top_frame" noresize scrolling="no">
        <frameset cols="170,*" border=0 framespacing="0" frameborder="NO">
                <frame src="__NAVIGATION_PAGE__" noresize name="navig_frame" noresize>
                <frame src="__WELCOME_PAGE__" noresize name="main_frame" noresize>
        </frameset>
</frameset>

<noframes>
        <body>
                sorry, frame required
        </body>
</noframes>

</html>
