<!DOCTYPE html>
<html>

<head>
    <title>mailcleaner</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <link type="text/css" rel="stylesheet" href="templates/default/styles/list.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
</head>

<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
    <br />
    __BEGIN_VIEW_FORM__
    <table border="0" cellpadding="1" cellspacing="0" bgcolor="#333333">
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="1" cellspacing="2" class="blocktitle" bgcolor="#FFFFFF"
                    align="left">
                    <tr>
                        <td align="left">__LANG_LOGLINES__:</td>
                        <td align="left">__INPUT_LOGLINES__&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">__LANG_SEARCH__:</td>
                        <td align="left">__SEARCH__&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="left">__REFRESH__</td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
    <font color="red">__ERROR__</font><br />
    <font color="red">__MESSAGE__</font><br />
    __DEFAULT__ LOG_LINES = 50
    <textarea cols="100" rows="20">__VIEW_LOG__</textarea>
    __CLOSE_VIEW_FORM__

    <br />

</body>

</html>
