<!DOCTYPE html>
<html>

<head>
    <title>mailcleaner</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <link type="text/css" rel="stylesheet" href="templates/default/styles/list.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
</head>

<body>
    <center>
        <br /><br />
        __LANG_NETWORKCONFIGCHANGED__<br />
        __REDIRCHANGED_URL__<br /><br />
