<!DOCTYPE html>
<html>

<head>
    <title>Mailcleaner administration</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <link type="text/css" rel="stylesheet" href="templates/default/styles/list.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
</head>

<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
    <center>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr valign="middle">

                <!-- MAILCLEANER LOGO LEFT -->
                <td width="87px" height="90px" valign="top"><img src="templates/default/images/mc_logo.gif" border="0">
                </td>
                <td height="90px" valign="top" background="templates/default/images/nav_space.gif"><img
                        src="templates/default/images/mc_text.gif" border="0"></td>
                __BEGIN_VIEW_STATS_ABLOCK__
                <td height="90px" valign="middle" width="100%" background="templates/default/images/nav_space.gif">
                    <iframe name="quick_stats" width="100%" height="100%" src="dyn_stats.php" frameborder="no"
                        scrolling="no"></iframe>
                </td>
                __CLOSE_VIEW_STATS_ABLOCK__
                <td height="90px" valign="top" align="right" background="templates/default/images/nav_space.gif"
                    class="smallblacktext">
                    <nobr>__LANG_LOGGEDAS__: <b> __USERNAME__ </b><a href="__LINK_LOGOUT__" target="_parent"><img
                                src="templates/default/images/__LANG__/logout.gif" border="0" align="abs_middle"></a>
                        </div>
                    </nobr>
                </td>
            </tr>
        </table>

    </center>
</body>

</html>
