<!DOCTYPE html>
<html>

<head>
    <title>mailcleaner</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <link type="text/css" rel="stylesheet" href="templates/default/styles/list.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
</head>

<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
    <center>
        <br />
        <table width="95%" border="0" cellpadding="1" cellspacing="0" bgcolor="#000000">
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="2" cellspacing="2" class="blocktitle" bgcolor="#FFFFFF">
                        __FORM_BEGIN_FILTER__
                        <tr bgcolor="#CCCCCC" class="blocktitle">
                            <td colspan="4">__LANG_FILTER__&nbsp;&nbsp; __DOC_VIEWLOGS__</td>
                        </tr>
                        <tr>
                            <td>__LANG_HOST__: __HOSTLIST__</td>
                            <td>__LANG_LOGFILE__: __LOGLIST__</td>
                            <td>__LANG_DATE__: __DATELIST__</td>
                            <td>__REFRESH_BUTTON__</td>
                        </tr>
                        __FORM_CLOSE_FILTER__
                    </table>
                </td>
            </tr>
        </table><br />

        <iframe width="90%" height="100%" src="__LOG_LINK__" frameborder="no" scrolling="no"></iframe>
</body>

</html>
