<html>
  <head>
    <title>MailCleaner</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <link type="text/css" rel="stylesheet" href="templates/default/styles/list.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
  </head>

<body>
<center>
<br/><br/><br/>
<div class="quartitle"><font size="+1">__LANG_WELCOMEADMIN__</font></div><br/><br/>
__LANG_TODAYIS__: __DATE__<br/>
__LANG_THISHOSTIDIS__: __HOSTID__ (__MASTER__)<br/><br/>
__LANG_YOUMAYCONFIGNET__
<a href="config_base.php"><font color="#46143B">__LANG_HERE__</font></a>.
<br><br><br><hr width="60%"><br><br>
<b>__LANG_FORMOREHELP__</b><br><br><br>
__LANG_CONTACTINTEGRATOR__: <a href="__INT_WEBSITE__" target="_blank">__INT_COMPANY__</a><br><br>
<table border="0">
 <tr align="center">
   <td width="50%" align="right">__LANG_TECHNICALCONTACT__: </td><td width="50%" align="left">__INT_TECHNAME__</td>
 </tr><tr align="center">
   <td width="50%" align="right">__LANG_MAIL__: </td><td width="50%" align="left"><a href="mailto:__INT_TECHMAIL__">__INT_TECHMAIL__</a></td>
 </tr><tr align="center"> 
   <td width="50%" align="right">__LANG_PHONE__: </td><td width="50%" align="left">__INT_TECHPHONE__</td>
 </tr>
</table>
  <br>
__LANG_COMMERCIALSUPPORT__: <a href="http://www.mailcleaner.net/support" target="_blank">MailCleaner.net website</a>
</body>
</html>
