<!DOCTYPE html>
<html>

<head>
    <title>White/Warn list</title>
    <link type="text/css" rel="stylesheet" href="templates/default/styles/main.css">
    <link type="text/css" rel="stylesheet" href="templates/default/styles/list.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="Olivier Diserens">
    <meta name="Copyright" content="Mailcleaner Public License http://www.mailcleaner.net/open/licence_en.html">
    <script language="javascript">
        type = 'dataTableRow';
        function rowOverEffect(object) {
            if (object.className != 'dataTableRowSelected') {
                type = object.className;
                object.className = 'dataTableRowSelected';
            }
        }

        function rowOutEffect(object) {
            if (object.className == 'dataTableRowSelected') object.className = type;
        }

        function confirm_delete(id, name) {
            if (confirm("__LANG_WWENTRY__: " + name +
                "\n__LANG_CONFIRMWWENTRYDELETE__ ")) {
                str = "__REMOVE_FULLLINK__" + id;
                window.location.replace(str);
            }
        }
        __PAGE_JS__
    </script>

</head>

<body>
    <center><br>
        <h4>__WWLIST_FOR__</h4>
        <table width="90%" bgcolor="black" border="0" cellpadding="1" cellspacing="0">
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center">
                                <!-- WWENTRY LIST -->
                                <table border="0" cellpadding="3" cellspacing="0" bgcolor="#FFFFFF" class="blocktext">
                                    <tr bgcolor="#CCCCCC" class="dataTableHeadingRow">
                                        <td class="dataTableHeadingContent">__LANG_SENDER__</td>
                                        <td class="dataTableHeadingContent">__LANG_STATUS__</td>
                                        <td class="dataTableHeadingContent">__LANG_COMMENT__</td>
                                        <td class="dataTableHeadingContent" align="right">__LANG_ACTIONS__</td>
                                    </tr>

                                    <tr bgcolor="#CCCCCC" class="dataTableRow">
                                        <td class="dataTableContent" colspan="4" align="center">
                                            <font color="red">__DELETE_STATUS__ __ADD_STATUS__ __SAVE_STATUS__</font>
                                        </td>
                                    </tr>
                                    __TMPL_WWENTRYLIST_START__
                                    <tr class="__ALTROWSTYLE__" onmouseover="rowOverEffect(this)"
                                        onmouseout="rowOutEffect(this)">
                                        __FORM_BEGIN_EDIT__
                                        <td class="dataTableContent">
                                            <nobr>__SENDER__</nobr>
                                        </td>
                                        <td class="dataTableContent" width="100px">
                                            <nobr>__STATUS__</nobr>
                                        </td>
                                        <td class="dataTableContent" width="100%">
                                            <nobr>__COMMENT__</nobr>
                                        </td>
                                        <td class="dataTableContent" align="right" width="100px">
                                            __IF_NOTSELECTED__<img
                                                onClick="window.location.replace('__EDIT_BASELINK__&s=__ID__');"
                                                src="templates/default/images/pencil.gif" border="0">&nbsp;&nbsp;<img
                                                onClick="confirm_delete(__ID__, '__FLATSENDER__');"
                                                src="templates/default/images/erase.gif" border="0">__FI__
                                            __IF_SELECTED__<img onClick="__SUBMIT_EDIT_LINK__"
                                                src="templates/default/images/dosearch.gif" border="0">__FI__
                                        </td>
                                        __FORM_CLOSE_EDIT__
                                    </tr>
                                    __TMPL_WWENTRYLIST_STOP__

                                    __WWENTRYLISTDRAW__

                                    __FORM_BEGIN_WWENTRYADD__
                                    <tr class="__ROWSTYLE__">
                                        <td class="dataTableContent" width="250px">
                                            <nobr>__FORM_INPUTSENDER__</nobr>
                                        </td>
                                        <td class="dataTableContent" width="100px">
                                            <nobr>__FORM_INPUTSTATUS__</nobr>
                                        </td>
                                        <td class="dataTableContent">
                                            <nobr>__FORM_INPUTCOMMENT__</nobr>
                                        </td>
                                        <td class="dataTableContent" align="right" width="100px"><img
                                                onClick="__FORM_INPUTSUBMIT__"
                                                src="templates/default/images/dosearch.gif" border="0"></td>
                                    </tr>
                                    __FORM_CLOSE_WWENTRYADD__

                                    __DEFAULT__ sep = |
                                    __DEFAULT__ elementPerPage = 10
                                    <tr bgcolor="#CCCCCC" class="dataTableHeadingRow" valign="absmiddle">
                                        <td class="dataTableHeadingContent" colspan="2" align="left">__LANG_TOTAL__:
                                            __NBENTRIES__</td>
                                        <td class="dataTableHeadingContent" colspan="2" align="right">
                                            <nobr>__LANG_PAGE__&nbsp;__ACTUAL_PAGE__/__TOTAL_PAGES__ - __PREVIOUS_PAGE__
                                                __PAGE_SEP__ __NEXT_PAGE__</nobr>
                                        </td>
                                    </tr>
                            </td>
                        </tr>
                    </table>
        </table>
        </td>
        </tr>
        </table><br>
        __FORM_BEGIN_SEARCH__<input type="button" name="close" onclick="javascript:window.close();"
            value="__LANG_CLOSE__">
        __FORM_CLOSE_SEARCH__
</body>

</html>
