#domainchooser {
  vertical-align: bottom;
  margin-bottom: 3px;
}

.fieldinput {
  height: 20px;
}

#submitbutton {
  margin-right: 52px;
}

.submitbutton {
  margin-left: -15px;
}

#languageconfigpanel .submitbutton {
  margin-left: 0px;
}

.checkbox {
  margin-left: -3px;
}


#addresslist li {
  line-height: 17px;
  padding-bottom: 3px;
}

#addresslist .checkbox {
  padding-top: 1px;
}

.entrypending {
  margin-top: -2px !important;
  padding-top: 4px !important;
  line-height: 14px !important;
  margin-bottom: 0px !important;
}

.entrycomment {
  margin-top: 3px !important;
  padding-top: 4px !important;
  line-height: 14px !important;
  margin-bottom: 0px !important;
}

.entrycomment img {
  padding-top: 0px !important;
  margin-right: 2px !important;
}

.addressadd {
  padding-left: 2px;
}

#add_address {
  margin-top: 1px;
  margin-bottom: 4px;
}

.configpanel fieldset {
  margin-bottom: 10px;
  padding-bottom: 13px;
}

.configsubpanel input {
  margin-left: 0px;
}

.configpanel h1 {
  margin-bottom: 10px !important;
}

.ftable {
  margin: 10px;
  font-size: 11px;
}

.ftable .submitbutton {
  margin-left: -5px;
}

.fvalue {
	width: 311px;
}

#quarparampanel {
  padding-bottom: 0px;
}

#rementrypanel p {
  margin-bottom: 1px !important;
}

#rementrypanel .submitbutton {
  margin-bottom: 12px;
}

#searchpanel .submitbutton {
  margin: 0px;
}

#quarantinetable {
  margin-top: 17px;
}

#quarantinebanner img {
   vertical-align: middle;
}

.countvalue img {
  vertical-align: middle;
}

.stattablehead img {
  vertical-align: middle;
}

.stattable td {
  font-size: 11px !important;
}

#filterpanel input {
  margin-left: 2px;
}

