img {
  vertical-align: middle;
}

#filter {
  margin: 0px;
  margin-top: 17px !important;
  padding: 0px;
  overflow: auto;
}

.pagelink {
  text-decoration: underline;
  color: #552056;
}


/* address selector */
#addressselectpanel {
  float: left;
  margin: 0px;
  margin-left: 16px;
  font-size: 12px;
}

#addressselectpanel p {
   margin: 0px;
   margin-bottom: 7px;
   padding: 0px;
   color: #000000;
}

/* search and filter panel */
#searchpanel {
  float: right;
  margin: 0px;
  margin-right: 15px;
  padding-right: 0px;
  margin-top: 17px;
  height: 26px;
  font-size: 12px;
}

#searchpanel img {
  margin-right: 6px;
  margin-bottom: 4px;
}


/* quarantine panel */
#quarantine {
  margin-left: 16px;
  margin-right: 16px;
}

#quarantinetable {
  width: 100%;
  border-top: solid 1px #C6ADC6;
  border-left: solid 1px #C6ADC6;
  padding: 0px;
  white-space: nowrap;
  border-spacing: 0px;
  margin: 0px;
  margin-bottom: 7px;
  margin-top: 17px;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

#quarantinetable td {
  padding: 0px;
  white-space: nowrap;
  border-bottom: solid 1px #C6ADC6;
  border-right: solid 1px #C6ADC6;
  border-spacing: 0px;
  margin: 0px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 11px;
  font-weight: normal;
  vertical-align: top !important;
  height: 23px;
  line-height: 23px;
  color: #535353;
}

#quarantinetable a {
  text-decoration: none;
  color: #535353;
}

#quarantinetable img {
  margin: 0px;
  padding: 0px;
}

/* table banner */
#quarantinebanner {
  height: 48px;
  background-image:url(../images/contentheader_bg.png);
  overflow: hidden;
  white-space: nowrap; 
  text-align: left;
  margin: 0px;
  padding: 0px;
}

#quarantinebanner td {
  margin: 0px !important;
  padding: 0px !important;
  line-height: 48px;
  color: #552056;
  font-size: 12px;
}

#quarantinebanner p {
  display: inline;
  font-weight: normal;
}

#quarantinebanner strong {
  font-weight: bold;
}

#quarantinebanner img {
   vertical-align: top;
}

/* table headers */
#quarantineheader {
  text-align:left;
  line-height: 20px;
  font-size: 11px;
  font-weight: normal;
  background-color: #F4F0F2;
}

#quarantineheader td {
  color: #552056;
}

#quarantineheader img {
  margin-left: 4px;
}

#quarantinetable tr:hover a {
  text-decoration: underline;
  color: #001391;
}

/* yeah raf ! thanks for this one ! */
#quarantineheader a {
  text-decoration: none!important;
  color: #552056!important;
}

#quarantinebanner a {
  text-decoration: underline!important;
  color: #001391!important;
}


.hiddenscore {
  display: inline;
  margin: 0px;
  padding: 0px;
  visibility: hidden;
}
.c_action { width: 74px; padding-left: 10px !important; padding-right: 0px !important;}
.c_date { width: 112px; }
.c_globalscore { 
	 width: 45px;
	 padding: 0px !important;
	 margin: 0px !important;
	 line-height: 23px !important; 
	 text-align: center; 
	 padding-left: 9px !important; 
	 padding-right: 0px !important; 
}
.c_from { width: 200px; }

.c_action img {
  margin-right: 4px !important;
  margin-bottom: 3px !important;
}

.c_globalscore img {
   margin-right: 2px !important;
   padding-bottom: 1px !important;
}

.c_title {
   padding-left: 9px;
   text-align: left;
}

.resetsearch {
   margin-left: 32px !important;
}
.resetsearch {
   font-weight: bold;
}

/* quarantine content */
.quarantine_content:hover {
   background-image: url(../images/quarantine_bg.png);
   cursor: pointer;
}

.msgforced td {
  font-style: italic;
}

.middleactionincon {
  margin-right: 5px;
  margin-left: 5px;
}

.bullet_off,.bullet_on {
  margin-right: 2px;	
}

/* pagination */
#pagination strong {
  color: #000000 !important;
}

#pagination a {
  color: #001391;
  text-decoration: underline;
}
#pagination a:hover {
  color: #001391;
  text-decoration: underline;
}

#pagination td {
  height: 48px;
  line-height: 48px;
  color: #552056;
  font-size: 12px;
}

#actual_page {
  text-align: left;
  border-right: 0px !important;
}

#pages_navigation {
  text-align: right !important;
  padding-right: 10px !important;
}

/* actions */
.quickactions {
  display: inline;
  float: left;
  padding: 0px;
  margin: 0px;
  color: #552056;
  margin-right: 36px;
  margin-left: 0px;
  line-height: 23px;
}

.quickactions a {
  color: #001391;
  text-decoration: underline;
}
.quickactions a:hover {
  color: #001391;
  text-decoration: underline;
}

.quickactions img {
  margin-right: 8px;
  margin-bottom: 3px;
}

/* purge information */
#purgeinfos {
  float: right;
  padding: 0px;
  margin: 0px;
  line-height: 23px;
  z-index: 3;
  color: #4a3838;
}

