#container {
  width: 968px;
}

#mcheadpicture {
  margin-right: -3px;
}

#loginpanel .tdfieldtitle {
  width: 120px;
}

.fieldinput {
  height: 22px;
}

.ftable {	
  width: 600px;
  margin-right: 0px !important;
  margin-left: auto 13px;
}
#submitbutton {
  margin-right: 55px;
}

#languageconfigpanel {
 margin-bottom: 280px;
}

.contentheadicon {
 width: 185px;
 height: 49px;
 margin-right: -3px;
}

.contentheadicon img {
  margin-top: 12px;
}

.contentheadtitle {
  height: 49px;
}

#generalconfigpanel {
  width: 953px;
}

.configsubpanel {
  margin-bottom: 21px;
}

.configpanel h1 {
  height: 53px;
  padding-top: 15px !important;
}

#quarantinetable {
  width: 935px;
  margin-top: 20px;
}

#quarantinebanner td {
  padding-top: 10px;
}