/* navigation.css */

/*** https://user.mailcleaner.net/templates/default/css/navigation.css ***/

/* "commercial" header */
#mainheader {
    width: 100%;
    height: 75px;
    margin: 0px;
    background-image:none;
    background-color: #e8e8e8; /*__MAINHEADERBG__*/
    background-repeat: repeat-x;
    color: white; 
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    overflow: auto;
}

/* navigation bar */
#navigation {
    width: 100%;
    height: 37px;
    min-height: 33px;
    margin: 0;
    padding: 0;
    background-image:none; 
    background-color: #000000;
    background-repeat: repeat-x;
    text-indent: 0.5em; 
    white-space: nowrap;
    overflow: hidden;
}

#mclogo {
    float: left;
}
#mcheadpicture {
    float: right;
    display: none;
}

/* navigation menu */
#buttonmenu, #logoutbutton, #username {
    text-align: center;
    list-style: none; 
    margin: 0; 
    padding: 0;
}

#buttonmenu li, #logoutbutton, #username {
    display: inline;
    line-height: 33px;
    font-size: 1.30em;
}

#buttonmenu li .menubutton, #buttonmenu li .menuselected {
    float: left;
    width: 150px;
    padding:3px;
}

#buttonmenu li .menuselected {
    background-color: #ED7B00;
}

#navigation a, #logoutbutton a {
    color: white;
    text-decoration: none;
}

#logoutbutton, #username {
    float: right;
    color: #FFFFFF;
}

#username, #fullheight {
    line-height: 37px;
    height: 37px;
    padding: 0px 10px;
}

#fullheight:hover {
    background-color: #ED7B00;
}
