/* popup.css */

/*** https://user.mailcleaner.net/templates/default/css/popup.css ***/

html, body {
  background-color: #ffffff;
  font-size: 12px;
}

#container {
  background-color: #ffffff;
  width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
}

#popupheader {
  margin: 0px;
  padding: 0px;
  height: 43px;
  width: 100%;
  background-image: none;
	background-color: #F5F5F5;
  border-bottom: solid 1px #D4D3D2;
  line-height: 46px;
  padding-left: 20px;
}

#popupheader p {
  display: inline;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
  color: #000000;
  font-weight: bold;
}

#popupheader img {
  display: inline;
  border: 0px;
  margin-bottom: 5px;
  vertical-align: middle;
}

#text {
  position: relative;
  left: 68px;
  width: 350px;
  margin-top: 24px;
  overflow: auto;
  padding: 0px;
  line-height: 18px;
}

p {
  margin: 0px;
  padding: 0px;
  max-height: 150px;
  padding-right: 30px;
}


#buttons {
  position: relative;
  text-align: right;
}

#buttons input {
  top: 0px;
  display: inline;
  margin: 10px 0px 0px 10px;
  white-space: nowrap;
  min-width: 90px;
}

.question {
  color: #FF0000;
}
