/* stats.css */

/*** https://user.mailcleaner.net/templates/default/css/stats.css ***/

img {
  vertical-align: middle;
}

#filter {
  margin: 0px;
  margin-left: 14px !important;
  padding: 0px;
  width: 925px;
  height: auto;
}

/* address selector */
#addressselectpanel {
  float: left;
  margin: 0px;
  margin-top: 16px;
  font-size: 12px;
}

#addressselectpanel p {
   margin: 2px;
   padding: 0px;
   color: #000000;
   margin-bottom: 8px !important;
}

/* search and filter panel */
#filterpanel {
  float: right;
  margin: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 12px!important;
}

#filterpanel p {
   margin: 2px;
   padding: 0px;
   color: #000000;
   margin-bottom: 8px !important;
}

.stattable {
  white-space: nowrap;
  width: 925px;
  padding: 0px;
  margin: 0px;
  margin-left: 15px;
  margin-top: 16px;
  margin-bottom: 0px;
  background-color: #FFFFFF;
  border-spacing: 0px;
  border-collapse: collapse;
  border-bottom: 1px solid  #D4D3D2;
  border-right: 1px solid  #D4D3D2;	
  color: #000000;
}

.stattablehead {
  height: 48px;
  line-height: 48px;
  background-image:none;
	background-color: #F5F5F5;
  overflow: hidden;
  white-space: nowrap; 
  text-align: left;
  margin: 0px;
  padding: 0px;
  color: #000000;
  font-size: 12px;
	border-top: solid 1px #D4D3D2 !important;
}

.stattablehead td {
  margin: 0px !important;
  padding: 0px !important;
  line-height: 48px;
  color: #552056;
}

.stattablehead img {
  vertical-align: top;
}

.stattablehead p {
  display: inline;
  font-weight: normal;
  margin: 0px !important;
  padding: 0px !important;
}

.globalstattablehead {
  height: 48px;
  line-height: 48px;
  background-image:none;
	background-color: #F5F5F5;
  white-space: nowrap; 
  text-align: left;
  font-weight: bold;
  color: #000000;
  font-size: 12px;	
}

.stattable td {
  padding: 0px;
  margin: 0px;
  border-top: 1px solid  #D4D3D2;
  border-left: 1px solid  #D4D3D2;
}

.stattable p {
  display: inline;
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
}

.graphpanel {
  vertical-align: middle;
  text-align: center;
  width: 383px;
  line-height: 26px;
  border-right: 1px solid #D4D3D2;
}

.bar {
   margin-left: auto;
   margin-right: auto;
   width: 300px;
   height: 11px;
   min-height: 11px;
   border: 1px solid  #D4D3D2;
}

.virus {
   float: left;
   height: 11px;
   background-image:url(../images/virus.png);
}

.spam {
   float: left;
   height: 11px;
   background-image:url(../images/spam.png);
}

.clean {   
   float: left;
   height: 11px;
   background-image:url(../images/clean.png);
}

.countlegend {
  width: 260px;
  padding: 0px !important;
  padding-right: 10px !important;
  text-align: right;
  line-height: 23px;
  background-color: #F5F5F5;
  border-right: 1px solid #D4D3D2;
}

.countvalue {
   width: 134px;
 }

.countvalue img {
  vertical-align: top;
  margin-right: 4px;
}

.countvalue p {
  line-height: 23px;
}

#filterpanel input {
  font-size: 11px;
}

.msgslegend {
  display: inline;
  padding: 0px;
  border: 0px;
  height: 23px;
  border-left: 5px solid #FFFFFF;
}
.piegraph {
  visibility: hidden;
  display: none;
}

.piegraph p {
  display: block;
}
.bargraph {
  visibility: visible;
  display: block;
}