html,body {
  background-color: #DDD6DD;
}

#container {
   background-color: #DDD6DD;
   min-width: 600px;
}

#mainheader {
  overflow: hidden;
}

#unloggedmessagebox {
  width: 500px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top:40px;
  border: 1px solid #C6ADC6;
  background-color: #FFFFFF;
}

#popupheader {
  margin: 0px;
  padding: 0px;
  height: 43px;
  background-image:url(../images/popup_bg.png);
  border-bottom: solid 1px #C6ADC6;
  line-height: 43px;
}

#popupheader img {
  padding-left: 20px;
}

#text {
  position: static;
  padding-left: 70px;
  overflow: auto;
  margin-bottom: 10px;
}

#buttons {
  position: static;
  margin-right: 20px;
}
